#input_5_1_3_container {
	padding-right: 1.8% !important;
}
input#input_5_2 {
	margin-top: 2px;
}
.white-logo-svg svg, .black-logo-svg svg {
	height: 35px !important;
}
.white-logo-svg {
	.cls-3 {
		fill: #fff;
	}
}
header.header.shrink .white-logo-svg, header.header .black-logo-svg {
	display: none;
}
header {
	&.header {
		&.shrink {
			.black-logo-svg {
				display: block !important;
			}
		}
	}
}
.home {
	.product_items {
		&.aos-init {
			&.aos-animate {
				display: flex;
				flex-direction: column;
				padding: 5px;
				justify-content: end;
			}
		}
		a {
			color: #fff;
			display: flex;
			flex-direction: column;
		}
	}
	button {
		&.active {
		}
	}
}
li {
	&.cat-breadcrumbs {
		display: contents;
	}
}
.banner_content {
	.bread_nav {
		li {
			&.cat-breadcrumbs {
				a {
					padding-right: 0px !important;
					&:hover {
						font-weight: 600;
						color: #8EC74C;
					}
				}
			}
		}
	}
	.green_btn {
		width: auto;
	}
}
.cat-breadcrumbs {
	span {
		display: flex;
		align-items: center;
	}
	i {
		&.fas {
			&.fa-chevron-right {
				margin-right: 5px !important;
				margin-left: 5px !important;
			}
		}
	}
}
h4 {
	a {
		color: #8EC74C;
		&:hover {
			color: #8EC74C;
			font-weight: bold;
			font-weight: 400;
		}
	}
}
.gm-style-iw {
	&.gm-style-iw-c {
		color: #8EC74C;
		text-decoration: none !important;
	}
}
@media {
	only {
		screen {
			and {
				(max-width {
					&: {
						600px) {
							.story_info.aos-init.aos-animate {
		padding: 50px 5px;
						}
					}
				}
			}
		}
	}
	(max-width {
		&: {
			768px) {
				main section: first-child {
 margin-bottom: 40px;
			}
			576px) {
				.search-wrapper .input-holder {
		width: 175px;
			}
		}
	}
	(min-width {
		&: {
			1200px) {
				.description_info > div {
		padding-left: 140px;
			}
		}
	}
}
.support_Content {
	text-align: center;
	padding: 25px 0 30px;
}
.user_info {
	min-height: auto !important;
	padding: 80px 35px 120px;
}
.green_btn {
	display: block;
	width: 100% !important;
}
} {
	main {
		section {
			&.lightGary_bg {
				&.testimonial_section {
					margin-bottom: 0 !important;
					padding-top: 35px !important;
				}
			}
		}
	}
	.address_info {
		p {
			text-transform: capitalize;
		}
	}
	@media {
		(min-width {
			&: {
				992px) {
					.tab-content .news_img {
		height: 100%;
					overflow: hidden;
				}
			}
		}
	}
	.img_grid {
		img {
			width: 110px;
			height: auto;
			object-fit: contain;
		}
	}
	.view_box {
		margin: 0 0 20px !important;
	}
}
.page-id-340 {
	.banner_content {
		.green_btn {
			width: auto;
		}
	}
}
.ginput_container_select {
	position: relative;
	select {
		appearance: none;
		padding-right: 60px;
	}
	&::before {
		content: '';
		position: absolute;
		top: -7px;
		right: 15px;
		width: 15px;
		height: 15px;
		border-left: 2px solid #8EC74C;
		border-bottom: 2px solid #8EC74C;
		z-index: 9;
		bottom: 0;
		margin: auto;
		transform: rotate(-45deg);
	}
}
.testimonal_silder {
	padding: 50px 0;
}
.header_right {
	& > ul {
		& > li {
			& > a {
				color: #fff;
			}
		}
	}
}
.head_top {
	background-color: #010b13;
	padding-top: 20px;
}
.search-wrapper {
	.input-holder {
		width: 450px;
		border-radius: 50px;
		background: #fff;
		.search-input {
			opacity: 1;
			transform: translate(0, 0px);
			background-color: #fff;
			color: #000;
		}
	}
	.close {
		display: none;
	}
}
main {
	section {
		&:not(:first-child) {
			margin-bottom: 80px !important;
		}
		&.line_grid {
			padding-top: 0 !important;
		}
	}
}
main a, 
main a:visited,
main a:focus,
main a:active,
main a:hover {
	color: #8EC74C;
}
p {
	&.bread_nav {
		a {
			&:hover {
				font-weight: 400;
				color: #fff;
			}
		}
	}
}
#mainSlider .carousel-item img, .full_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.user_info p, #testimonal_silder .active.center .user_info p {
	font-size: 14px !important;
}
.product_inner_info {
	p {
		font-weight: 100;
	}
	h4 {
		p {
			font-size: 20px;
			font-size: 600;
		}
	}
}
.oneThird_img {
	margin: 0 !important;
	position: relative;
	a {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - 170px);
		height: 100%;
		z-index: 2;
	}
}
.flip_strip {
	.oneThird_img {
		float: none;
		margin-left: auto !important;
	}
}
.outer__design {
	.full_content {
		padding: 0;
	}
}
.overlap_Content {
	min-height: auto;
	.shift_content {
		margin-bottom: 0;
	}
	.arrow_btn {
		position: relative;
		right: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: 0;
		margin-top: 20px;
		display: inline-block;
	}
}
.product_img {
	img {
		width: 100%;
		max-width: 230px;
		height: 230px !important;
		object-fit: cover;
	}
}
.news_img {
	position: relative;
	img {
		height: 250px;
		width: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.contact_infoGrid {
	padding-bottom: 0 !important;
}
.head_socialLinks {
	display: block !important;
}
.d-sm-flex {
	.green_btn {
		margin-top: 10px !important;
	}
}
#back-button {
	display: inline-block;
	background-color: #8EC74C;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
 opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	i {
		font-style: normal;
		font-size: 2em;
		line-height: 50px;
		color: #fff;
	}
	&:hover {
		cursor: pointer;
		background-color: #333;
	}
	&:active {
		background-color: #555;
	}
	&.show {
		opacity: 1;
		visibility: visible;
	}
}
.overlap_grid {
	.text-right {
		text-align: right;
	}
}
.dealer_app_grid {
	.view_box {
		margin-top: 20px !important;
	}
}
.overlap_Content a h4,
.overlap_Content a, 
.product_title_info strong {
	color: #fff !important;
}
.card_content h3 a:hover,
.gray_content h4 a:hover {
	color: #8EC74C;
}
.gray_content {
	h4 {
		a {
			position: relative;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			color: white;
		}
	}
}
.single-products {
	section {
		&:not(.sub_banner_content) {
			.container {
				.press_information {
					max-width: 100% !important;
				}
			}
		}
	}
}
table {
	width: 100%;
}
.box_img {
	text-align: right;
}
.datasheets_gallery {
	position: relative;
	top: -10px;
}
.single {
	&.single-products {
		.green_btn {
			&.me-3 {
				margin-top: 0 !important;
			}
		}
	}
}
#breadcrumbs {
	display: flex;
	align-items: center;
	margin-top: 25px;
	font-size: 20px;
	li {
		a {
			color: #fff !important;
		}
		&.separator {
			margin: 0 10px;
		}
	}
}
.rotated_row {
	z-index: 4;
}
