/* Form css start */
.form_title {
	h4 {
		font-size: 25px;
		margin-bottom: 10px;
		font-weight: 600;
	}
	p {
		font-size: 16px;
		span {
			color: red;
		}
	}
}
.form_grid {
	form {
		.form-group {
			margin-bottom: 15px;
			label {
				display: block;
				font-size: 20px;
				text-transform: uppercase;
				margin-bottom: 2px;
				span {
					color: red;
				}
			}
			input {
				width: 100%;
				height: 55px;
				border: 1px solid #EBEBEB;
				outline: none;
				padding: 10px 20px;
				font-size: 18px;
				color: #4A4A4A;
				transition-duration: 0.4s;
				box-shadow: 0px 3px 6px #00000029;
				&:focus {
					color: #212529;
					border-color: #8EC74C;
					outline: 0;
					background-color: #fff;
					box-shadow: 0 0 0 2px #8EC74C;
				}
			}
			textarea {
				&:focus {
					color: #212529;
					border-color: #8EC74C;
					outline: 0;
					background-color: #fff;
					box-shadow: 0 0 0 2px #8EC74C;
				}
				width: 100%;
				border: 1px solid #EBEBEB;
				outline: none;
				padding: 10px 15px;
				font-size: 18px;
				color: #4A4A4A;
				resize: none;
				background-color: #fff;
				box-shadow: 0px 3px 6px #00000029;
				transition-duration: 0.4s;
			}
			select {
				height: 55px;
				border: 1px solid #EBEBEB;
				outline: none;
				padding: 10px 15px;
				font-size: 18px;
				color: #4A4A4A;
				box-shadow: 0px 3px 6px #00000029;
				cursor: pointer;
				background-color: #fff;
				width: 100%;
			}
			.inputsub_title {
				font-size: 14px;
			}
		}
		ul {
			display: flex !important;
			flex-wrap: wrap;
			li {
				margin: 0px 0px 20px !important;
				padding: 0px 4px !important;
				label {
					display: block;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 5px;
					span {
						color: red !important;
					}
				}
				.ginput_container {
					input {
						margin: 0;
						height: 55px;
						border: 1px solid #EBEBEB;
						outline: none;
						padding: 10px 20px !important;
						font-size: 18px !important;
						color: #4A4A4A;
						transition-duration: 0.4s;
						box-shadow: 0px 3px 6px #00000029;
						width: 100% !important;
						&:focus {
							color: #212529;
							border-color: #8EC74C;
							outline: 0;
							background-color: #fff;
							box-shadow: 0 0 0 2px #8EC74C;
						}
					}
					margin: 0px !important;
					select {
						width: 100% !important;
						height: 55px;
						border: 1px solid #EBEBEB;
						outline: none;
						padding: 10px 15px;
						font-size: 18px;
						color: #4A4A4A;
						box-shadow: 0px 3px 6px #00000029;
						cursor: pointer;
						background-color: #fff;
						width: ;
					}
					textarea {
						width: 100%;
						border: 1px solid #EBEBEB;
						outline: none;
						padding: 10px 15px;
						font-size: 18px;
						color: #4A4A4A;
						resize: none;
						height: 150px;
						background-color: #fff;
						box-shadow: 0px 3px 6px #00000029;
						transition-duration: 0.4s;
						&:focus {
							color: #212529;
							border-color: #8EC74C;
							outline: 0;
							background-color: #fff;
							box-shadow: 0 0 0 2px #8EC74C;
						}
					}
					.charleft.ginput_counter {
						font-size: 14px;
						color: #fff;
						width: 100% !important;
						font-weight: 400;
					}
				}
			}
		}
		ul#gform_fields_1 {
			li {
				&:nth-child(1) {
					width: 100%;
					margin-bottom: 0px !important;
				}
				&:nth-child(2) {
					width: 33.33% !important;
				}
				&:nth-child(3) {
					width: 33.33% !important;
				}
				&:nth-child(4) {
					width: 33.33% !important;
				}
				&:nth-child(5) {
					width: 100%;
				}
				&:nth-child(6) {
					width: 100%;
				}
				&:nth-child(7) {
					width: 25% !important;
				}
				&:nth-child(8) {
					width: 25% !important;
				}
				&:nth-child(9) {
					width: 25% !important;
				}
				&:nth-child(10) {
					width: 100% !important;
				}
				&:nth-child(11) {
					width: 100%;
					margin-bottom: 5px !important;
				}
			}
		}
		.gform_footer {
			margin: 5px 4px 0px;
			padding: 0px;
			input {
				margin: 1px !important;
				display: inline-block !important;
				background-color: #8EC74C;
				color: #fff;
				text-decoration: none;
				font-size: 18px !important;
				border-radius: 5px;
				padding: 12px 50px;
				font-weight: 600;
				box-shadow: 0px 3px 6px #00000029;
				transition-duration: 0.4s;
				border: none;
				&:hover {
					color: #8EC74C;
					background-color: #fff;
				}
			}
		}
	}
	#gform_wrapper_2 {
		margin: 0;
		form {
			.gform_heading {
				margin: 0;
			}
			.gform_body {
				ul#gform_fields_2 {
					li {
						&:nth-child(1) {
							width: 100%;
							h2 {
								font-size: 25px;
								margin-bottom: 2px;
								font-weight: 600;
								text-transform: uppercase;
							}
							h3 {
								color: #8EC74C;
								font-size: 18px;
								font-weight: 600;
							}
						}
						&:nth-child(2) {
							width: 100%;
							margin-bottom: 8px !important;
							h3 {
								color: #8EC74C;
								font-size: 18px;
								text-transform: uppercase;
								font-weight: 600;
							}
						}
						&:nth-child(6) {
							width: 100%;
							margin-bottom: 8px !important;
							h3 {
								color: #8EC74C;
								font-size: 18px;
								text-transform: uppercase;
								font-weight: 600;
							}
						}
						&:nth-child(3) {
							width: 100%;
						}
						&:nth-child(4) {
							width: 100%;
						}
						&:nth-child(5) {
							padding: 0px !important;
							#input_2_6 {
								display: flex;
								flex-wrap: wrap;
							}
							span {
								display: block;
								padding: 0px 4px !important;
								margin: 0px 0px !important;
								&:nth-child(1) {
									width: 100%;
									margin-bottom: 20px !important;
								}
								&:nth-child(2) {
									width: 25%;
								}
								&:nth-child(3) {
									width: 25%;
								}
								&:nth-child(4) {
									width: 25%;
								}
								&:nth-child(5) {
									width: 25%;
								}
								input {
									margin: 0px !important;
								}
								select {
									margin: 0px;
								}
							}
						}
						&:nth-child(7) {
							width: 33.33%;
						}
						&:nth-child(8) {
							width: 33.33%;
						}
						&:nth-child(9) {
							width: 33.33%;
						}
						&:nth-child(10) {
							width: 100%;
						}
						&:nth-child(11) {
							width: 100%;
							label {
								color: #8EC74C;
								font-size: 18px;
								text-transform: uppercase;
								font-weight: 600;
								display: block;
								margin-bottom: 5px;
							}
							#gfield_description_2_13 {
								padding: 0;
								margin-bottom: 15px;
								font-size: 14px;
								font-weight: 600;
								ul {
									margin-top: 2px;
									text-align: left;
									padding-left: 14px !important;
									li {
										padding: 0px !important;
										margin-bottom: 0px !important;
										font-size: 14px;
										font-weight: 600;
										list-style-type: disc !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#gform_3 {
		#gform_fields_3 {
			li {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 100%;
					margin: 0px !important;
				}
				&:nth-child(6) {
					width: 100%;
				}
				&:nth-child(7) {
					width: 100%;
				}
				&:nth-child(12) {
					width: 100%;
				}
				&:nth-child(13) {
					width: 100%;
				}
				&:nth-child(14) {
					width: 100%;
				}
				&:nth-child(15) {
					width: 100%;
				}
				&:nth-child(16) {
					width: 100%;
				}
				&:nth-child(17) {
					width: 100%;
				}
				&:nth-child(18) {
					width: 100%;
				}
				&:nth-child(19) {
					width: 100%;
				}
			}
		}
	}
}
.input_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.three_box {
	input {
		width: 32.85% !important;
	}
}
.four_box {
	input {
		width: 24.50% !important;
	}
	select {
		width: 24.50% !important;
	}
}
#gform_2 {
	.gform_footer.top_label {
		margin: 20px 4px 0px;
		input {
			width: 250px;
			background-color: #fff;
			color: #8EC74C;
			&:hover {
				background-color: #8EC74C;
				color: #fff;
			}
		}
	}
}
.product_grid {
	.text-center {
		.gray_btn {
			min-width: 300px;
			font-size: 18px;
			font-weight: semibold;
		}
	}
}
/* Form css End */