/* Card Css Start */
.card_content {
	h3 {
		a {
			display: inline-block;
			color: #54544C;
			font-size: 25px;
		}
	}
	h5 {
		color: #54544C;
		font-size: 18px;
		font-weight: normal;
	}
	p {
		color: #54544C;
		font-size: 14px;
	}
}
.listing_title {
	margin-top: 15px;
	margin-bottom: 15px;
	li {
		strong {
			font-size: 16px;
			display: block;
		}
		color: #54544C;
		font-size: 14px;
	}
}
.card_btn {
	margin-top: 25px;
	a {
		font-size: 14px;
		padding: 10px 15px;
		border-radius: 8px;
	}
}
.gray_btn.border_gray {
	background-color: transparent;
	color: #54544C;
	border: 1px solid #54544C;
}
/* Card Css End */