/* Modal Css Start */
.modal_header {
	position: relative;
	.btn-close {
		position: absolute;
		right: -15px;
		top: -15px;
		background-color: #000;
		opacity: inherit;
		z-index: 555;
		color: #fff;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		padding: 0;
	}
}
/* Modal Css End */