// Product page css start
.product_content {
	margin-bottom: 50px;
}
.product_info {
	h3 {
		font-size: 30px;
		margin-bottom: 5px;
		font-weight: 600;
	}
}
.product_items {
	text-align: center;
	h5 {
		font-size: 20px;
		margin-top: 15px;
	}
	a {
		color: #fff;
	}
}

// Product page css end

// Technology Css start
.technology_bg {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url("../images/technology_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.story_info {
	max-width: 940px;
	margin: 0 auto;
	p {
		margin-bottom: 15px;
	}
}
.full_content {
	.nav {
		align-items: center;
		justify-content: space-between;
		li {
			width: 50%;
			text-align: center;
			button {
				width: 100%;
				text-align: center;
				background-color: #54544C;
				border: none;
				outline: none;
				color: #fff;
				font-size: 25px;
				height: 55px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition-duration: 0.4s;
				position: relative;
				font-weight: 600;
			}
			button.active {
				background-color: #8EC74C;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: -15px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px 10px 0 10px;
					border-color: #8dc74c transparent transparent transparent;
					margin: 0 auto;
				}
			}
		}
	}
	position: relative;
	padding: 30px 0px;
}
// Technology Css end
// tab css start
.tabs_grid {
	margin: 60px 0px;
	margin-bottom: 80px;
	margin: 0;
	.full_content {
		padding-top: 20px;
		padding-top: 0 !important;
	}
}
.tab-content {
	margin-top: 20px;
	.news_img {
		height: 250px;
		overflow: hidden;
	}
	>.tab-pane {
		>.container {
			>.row {
				>div {
					margin-bottom: 30px;
					height: 100%;
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}
.dark_bg {
	background-color: #010B13;
}
// tab css end
// News Css start
.news_img {
	height: 100%;
	img {
		height: 250px;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.info_content_box {
	height: 100%;
	padding: 20px 25px;
	h5 {
		font-size: 16px;
		margin-bottom: 12px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 12px;
		font-weight: 600;
	}
	p {
		margin-bottom: 12px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.arrow_btn {
		margin-top: 20px;
	}
}
// News Css end

#mainSlider {
	.carousel-item {
		img {
			width: 100%;
		}
	}
}
.full_img {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	height: 335px;
}
.support_Content {
	text-align: center;
	padding: 25px 0 20px;
	h4 {
		font-size: 30px;
		margin-bottom: 8px;
		font-weight: 600;
	}
	p {
		margin-bottom: 10px;
	}
}
.more_post {
	margin-top: 50px;
}
.lightGary_bg {
	background-color: #F8F8F8;
}
.testimonal_silder {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	h4 {
		color: #010B13;
		font-size: 30px;
		font-weight: 600;
	}
}
#testimonal_silder {
	margin-top: 20px;
	.owl-stage-outer {
		padding: 30px 0px;
	}
	.owl-item {
		transition-duration: 0.4s;
		background-color: #ededed;
		opacity: 0.6;
	}
	.active.center {
		transform: scale(1.1);
		background-color: #010B13;
		z-index: 555;
		opacity: inherit;
		.user_info {
			strong {
				font-size: 19px;
				color: #fff;
			}
			p {
				font-size: 20px;
				color: #fff;
				font-style: italic;
				font-size: 14px;
			}
		}
	}
	.owl-item.active.center {
		cursor: url;
		.item {
			.user_img {
				img {
					max-width: 100px;
					min-width: 100px;
					height: 100px;
					min-height: 100px;
				}
			}
		}
	}
	.owl-item.active {
		cursor: pointer;
	}
	.owl-nav {
		button {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 30%;
			span {
				display: none;
			}
		}
		button.owl-prev {
			left: 0;
		}
		button.owl-next {
			right: 0;
		}
	}
}
.user_info {
	padding: 30px 20px;
	min-height: 595px;
	display: flex;
	flex-direction: column;
	strong {
		color: #555;
		display: block;
		font-size: 19px;
		margin: 10px 0px 15px;
	}
	p {
		color: #555;
		display: block;
		font-size: 20px;
		font-style: italic;
		font-size: 14px;
	}
}
.user_img {
	img {
		max-width: 80px;
		min-width: 80px;
		height: 80px;
		min-height: 80px;
		margin: 0 auto;
		border-radius: 50%;
	}
}
.sub_banner_img {
	img {
		width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	height: 100%;
}
.sub_banner_content {
	position: relative;
	height: 500px;
}
.sub_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	h1 {
		font-size: 45px;
		font-weight: 600;
	}
}
.banner_content {
	max-width: 1300px;
	margin: 0 auto;
	.green_btn {
		margin-top: 20px;
		width: 200px;
		text-align: center;
	}
	.bread_nav {
		display: flex;
		align-items: center;
		margin-top: 25px;
		li {
			font-size: 14px;
			margin-left: 10px;
			font-weight: 400;
			a {
				display: block;
				font-size: 14px;
				color: #fff;
				padding-right: 20px;
				position: relative;
				i {
					position: absolute;
					right: 1px;
					top: 4px;
					font-size: 12px;
				}
			}
			&:first-child {
				margin-left: 0px;
				a {
					padding-left: 0px;
				}
			}
		}
		span {
			i {
				font-size: 15px;
				margin-left: 12px;
				margin-right: 8px;
			}
		}
	}
	p {
		font-size: 20px;
		margin-top: 5px;
	}
}
.simple_banner {
	h1 {
		font-size: 45px;
		font-weight: 600;
	}
	margin-top: 120px;
	padding: 80px 0px;
	.img_grid {
		margin-top: 10px;
		text-align: right;
	}
}
.breadcrum_grid {
	margin-bottom: 30px;
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			a {
				display: block;
				background-color: #fff;
				color: #8ec74c;
				font-size: 18px;
				padding: 6px 18px;
				border-radius: 5px;
				margin: 0 2px;
				transition-duration: 0.4s;
				&:hover {
					color: #fff !important;
					background-color: #8ec74c !important;
				}
			}
			span {
				display: block;
				background-color: #fff;
				color: #8ec74c;
				font-size: 18px;
				padding: 6px 18px;
				border-radius: 5px;
				margin: 0 2px;
				transition-duration: 0.4s;
			}
		}
		li.current {
			span {
				color: #fff !important;
				background-color: #8ec74c !important;
				margin: 0px;
				border-radius: 0;
			}
		}
		li.next {
			a {
				background-color: #8EC74C;
				color: #fff;
			}
		}
		li.previous {
			a {
				background-color: #8EC74C;
				color: #fff;
			}
		}
	}
	.current {
		width: auto;
		background-color: transparent;
		margin: 0 2px;
		border-radius: 5px;
		overflow: hidden;
		width: 50px;
		background-color: #fff;
	}
}
.green_bg {
	color: #fff !important;
	background-color: #8ec74c !important;
}
.view_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;
	border-radius: 10px;
	margin-top: 15px;
	h4 {
		font-size: 25px;
		font-weight: 600;
	}
}
.content_title {
	max-width: 1030px;
	margin: 0 auto;
	p {
		text-align: center;
	}
}
.flip_strip {
	margin: 60px 0px;
	.oneThird_img {
		float: right;
		border-radius: 10px 0px 0px 10px;
		max-width: 55%;
	}
	.overlap_Content {
		float: none;
		width: 55%;
	}
}
.oneThird_img {
	max-width: 55%;
	margin: -30px 0px;
	border-radius: 0px 10px 10px 0px;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}
.overlap_grid {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}
.overlap_Content {
	background: rgba(84, 84, 76,0.7);
	padding: 50px 45px;
	color: #fff;
	float: right;
	position: relative;
	width: 55%;
	min-height: 350px;
	.arrow_btn {
		position: absolute;
		right: 45px;
		bottom: 40px;
	}
	h4 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	h5 {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	ul {
		li {
			font-size: 15px;
			margin: 8px 0px;
		}
	}
}
.shift_content {
	h5 {
		font-weight: 600;
		color: #8EC74C;
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
		font-size: 18px !important;
		line-height: normal;
		strong {
			display: block;
		}
		&:last-child {
			font-style: italic;
			font-style: normal;
		}
	}
	max-width: 600px;
	margin-bottom: 30px;
	span {
		display: block;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 3px solid #fff;
		font-style: italic;
		font-weight: 400;
		strong {
			display: block;
		}
	}
}
.add_new {
	text-align: right;
	h4 {
		color: #8EC74C;
		font-size: 24px;
		margin-bottom: 0px;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 700;
		max-width: 200px;
		float: right;
	}
}
.product_text_content {
	max-width: 800px;
	margin: 40px auto 30px;
	text-align: center;
	h4 {
		font-size: 30px;
		margin-bottom: 20px;
		font-weight: 600;
		margin-bottom: 40px;
	}
	p {
		font-size: 16px;
	}
}
.product_grid {
	.product_list {
		display: flex;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto 40px;
		li {
			width: 16.66%;
			padding: 0 3px;
			a {
				display: block;
				display: block;
				border-radius: 0 0 10px 10px;
				overflow: hidden;
				transition-duration: 0.4s;
				&:hover {
					border-radius: 10px;
					.product_proofile {
						img {
							transform: scale(1.1);
						}
					}
				}
				span {
					text-align: center;
					display: block;
					color: #fff;
					background-color: #7f7f7f;
					font-size: 19px;
					padding: 5px 5px;
					position: relative;
					z-index: 555;
				}
			}
		}
	}
}
.product_proofile {
	min-height: 200px;
	max-height: 200px;
	height: 200px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 2s, filter 1.5s ease-in-out;
		transform-origin: center center;
	}
}
.description_info {
	margin-right: 20px;
	height: 100%;
	>div {
		height: 100%;
		padding: 25px 30px 25px 65px;
		width: 100%;
		display: flex;
		align-items: center;
	}
	ul {
		width: 100%;
		li {
			margin: 18px 0px;
			&:last-child {
				.arrow_btn {
					display: inline-block;
				}
			}
			h4 {
				font-size: 26px;
				margin-bottom: 2px;
				font-weight: 600;
			}
		}
	}
}
.dark_gray {
	background-color: #4b4c46;
}
.story_imgGrid {
	position: relative;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.arrow_btn {
		position: absolute;
		top: 20px;
		left: 35px;
		span {
			color: #fff;
		}
	}
}
.outer__design {
	.oneThird_img {
		border-radius: 0px;
	}
	.overlap_Content {
		background: rgba(84, 84, 76,0.9);
	}
}
.bullet_points {
	padding-left: 15px;
	li {
		margin: 4px 0px !important;
		list-style-type: disc;
	}
}
.icon_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 50px !important;
	margin: 0px !important;
	p {
		margin-bottom: 12px;
	}
}
.aline_logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.time_line_content {
	max-width: 1200px;
	margin: 0 auto;
	h3 {
		text-align: center;
		font-size: 28px;
	}
	h4 {
		text-align: center;
		color: #8EC74C;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	p {
		text-align: center;
	}
}
.timeLine_section {
	margin-top: 70px;
}
.tab_title {
	text-align: center;
	margin-bottom: 22px;
	color: #8EC74C;
	font-size: 28px;
	font-weight: 500;
}
.inovation_grid {
	max-width: 1330px;
	margin: 0 auto;
	h4 {
		font-size: 30px;
		margin-bottom: 20px;
		padding-left: 15px;
	}
}
.inovatiob_content {
	padding: 0 15px;
	position: relative;
	p {
		font-size: 14px;
		margin-bottom: 25px;
	}
	h5 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}
.inovation_img {
	position: relative;
	img {
		width: 100%;
	}
}
.story_explore {
	strong {
		display: block;
		color: #8EC74C;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	position: absolute;
	top: 25px;
	left: 35px;
	right: 15px;
	.arrow_btn {
		.fa-globe-americas {
			margin-left: 0px;
			margin-right: 15px;
		}
	}
}
.helping_section {
	.row.dark_gray_bg {
		border-radius: 10px;
	}
	.info_content_box {
		strong {
			display: block;
			font-size: 18px;
		}
	}
	margin: 50px 0px;
}
.end_text {
	text-align: right;
	.arrow_btn {
		display: inline-block;
	}
}
.helping_title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	h3 {
		font-size: 25px;
	}
}
.helping_icon {
	min-width: 50px;
	max-width: 50px;
	margin-right: 25px;
}
.help_communities {
	text-align: center;
	margin-bottom: 50px;
	h2 {
		font-size: 30px;
		margin-bottom: 30px;
		font-weight: 600;
	}
}
.border_info {
	max-width: 600px;
	text-align: center;
	margin: 25px auto;
	border-bottom: 2px solid #fff;
	padding-bottom: 15px;
	a {
		display: inline-block;
	}
	strong {
		display: block;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.arrow_btn {
		.fa-globe-americas {
			color: #fff;
			margin-left: 0px;
			margin-right: 20px;
			font-size: 21px;
		}
	}
}
.application_dealer {
	.arrow_btn {
		.linkText {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.border_info {
		max-width: 515px;
		text-align: left;
		margin-left: 19px;
		h2 {
			margin-bottom: 50px;
		}
	}
	.dotted_list {
		margin-top: 20px;
		padding-left: 15px;
		li {
			font-size: 16px;
			list-style-type: disc;
			margin: 1px 0px;
		}
	}
}
.form_grid {
	background-color: #54544c;
	padding: 60px;
	border-radius: 12px;
	form {
		.form-group {
			.dotted_list {
				padding-left: 15px;
				margin-bottom: 15px;
				li {
					list-style-type: disc;
					line-height: 20px;
				}
			}
		}
	}
}
.form_title {
	text-align: center;
	margin-bottom: 35px;
	margin-left: 4px;
	margin-right: 4px;
}
.img_grid {
	margin-top: 30px;
	img {
		margin-right: 20px;
	}
}
.quality_info {
	margin: 65px 0px 0px;
}
.quality_content {
	h4 {
		color: #8EC74C;
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	h5 {
		font-size: 25px;
		font-weight: 600;
	}
	p {
		margin: 18px 0px;
		font-weight: 600;
	}
	.doc_number {
		padding-left: 40px;
		padding-top: 8px;
		li {
			a {
				display: inline-block;
				color: #8EC74C;
				font-size: 18px;
				margin: 2px 0px;
				transition-duration: 0.4s;
				&:hover {
					color: #fff;
					font-weight: 600;
				}
				i {
					color: #fff;
					margin-right: 5px;
				}
			}
		}
	}
}
.contact_infoGrid {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1100px;
	margin: 0 auto;
	padding: 40px 0px;
	h4 {
		color: #8EC74C;
		font-size: 25px;
		font-weight: 600;
	}
}
.contact_us_btn {
	width: 225px;
	margin-left: 30px;
	a {
		width: 100%;
		text-align: center;
	}
}
.press_banner {
	text-align: center;
	.bread_nav {
		justify-content: center;
		margin-top: 10px;
	}
	span {
		text-transform: uppercase;
		display: block;
		font-size: 20px;
	}
	p {
		font-size: 20px;
	}
}
.press_information {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
	strong {
		display: block;
		margin: 20px 0px;
		font-size: 18px;
	}
	h3 {
		font-size: 30px;
		margin-bottom: 20px;
		font-weight: 500;
	}
	h4 {
		font-size: 25px;
		margin-bottom: 20px;
		font-weight: 600;
	}
	p {
		margin-bottom: 20px;
	}
}
.button_grid {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 30px;
	a {
		border-radius: 8px;
	}
}
.right_btnGroup {
	a {
		&:first-child {
			margin-right: 20px;
		}
	}
	.file_items {
		a {
			&:first-child {
				margin-right: 0px;
			}
		}
	}
}
.img_right {
	text-align: right;
	img {
		max-width: 100%;
		border-radius: 10px;
	}
}
.inner_design {
	h5 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	p {
		margin: 0px 0px 15px !important;
	}
	.dotted_para {
		padding-left: 20px;
		margin-bottom: 50px;
		li {
			font-size: 18px;
			list-style-type: disc;
		}
	}
	.dotted_para.column-2 {
		column-count: 2;
	}
}
.product_desgin {
	margin-top: 55px;
}
.product_head_grid {
	text-align: center;
	padding-bottom: 20px;
	h4 {
		font-size: 30px;
		margin-bottom: 25px;
	}
}
.line_grid {
	padding: 50px 0px;
	border-bottom: 2px solid #8EC74C;
}
.product_inner_info {
	h4 {
		font-size: 20px;
		font-size: 600;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
	}
	h3 {
		font-size: 30px;
		text-align: center;
		margin-bottom: 4px;
		font-weight: 600;
	}
	p {
		text-align: center;
	}
	>div {
		&:first-child {
			max-width: 1200px;
			margin: 0 auto;
		}
	}
}
.see_product {
	display: flex;
	align-items: center;
	margin-top: 40px;
	&:hover {
		.product_img {
			img {
				filter: brightness(100%);
				transform: scale(1.1);
			}
		}
	}
}
.product_img {
	width: 100%;
	max-width: 230px;
	margin-right: 15px;
	overflow: hidden;
	border-radius: 10px;
	img {
		transition: transform 2s, filter 1.5s ease-in-out;
		transform-origin: center center;
		height: auto !important;
	}
}
.product_title_info {
	strong {
		display: block;
		font-size: 20px;
		margin-bottom: 5px;
		font-weight: 600;
	}
	a {
		color: #8EC74C;
		color: #8EC74C;
		font-weight: 700;
	}
}
.services_icon {
	min-height: 155px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dealer_app_grid {
	max-width: 1200px;
	margin: 0 auto 40px;
}
.product_info_list {
	width: 100%;
	h3 {
		font-size: 30px;
	}
	.count_list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 12px;
		li {
			font-size: 18px;
			width: 33.33%;
			margin: 4px 0px;
			&:last-child {
				text-align: left;
			}
		}
	}
}
.text_uppercase {
	.arrow_btn {
		span {
			text-transform: uppercase;
			color: #8EC74C;
			font-weight: 700;
			font-size: 20px;
		}
	}
}
.right_content {
	h3 {
		float: right;
		color: #8EC74C;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		max-width: 115px;
		text-align: center;
	}
}
.line_Adj_grid {
	max-width: 590px;
	p {
		margin-bottom: 15px;
	}
	h5 {
		color: #8EC74C;
		font-size: 18px;
		text-transform: uppercase;
	}
	address {
		font-size: 16px;
		font-style: italic;
		margin-bottom: 0px;
		strong {
			display: block;
		}
	}
}
hr {
	border-bottom: 2px solid #fff;
	opacity: inherit;
}
.key_features {
	max-width: 1300px;
	margin: 0 auto;
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
	.text-end {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&:hover {
		img {
			transform: perspective(3000px) rotateY(5deg);
		}
	}
}
.product_title {
	background-color: #54544C;
	padding: 40px 50px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px 10px 0 0px;
	background-color: #54544C;
	padding: 40px 50px;
	text-align: center;
	border-radius: 10px 10px 0 0px;
	h3 {
		font-size: 30px;
		font-weight: 600;
	}
}
.key_features_img {
	text-align: center;
	max-width: 800px;
	margin: 52px auto;
	img {
		transform: perspective(1500px) rotateY(15deg);
		border-radius: 1rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
		transition: transform 1s ease 0s;
	}
}
.rotated_row {
	.row {
		flex-direction: row-reverse;
	}
	position: relative;
	z-index: 9;
	position: relative;
	z-index: 1;
}
.aline_center {
	align-items: center;
}
.box_content2 {
	padding: 15px;
	position: relative;
	h4 {
		font-size: 30px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	ul {
		padding-left: 15px;
		li {
			font-size: 16px;
			font-weight: 500;
			list-style-type: disc;
		}
	}
	.green_btn {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
.workshops_section {
	margin-top: 50px;
	h5 {
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}
.Presenters_grid {
	margin: 40px 0px;
	ul {
		margin: 10px -10px 0px;
		display: flex;
		flex-wrap: wrap;
		li {
			width: 20%;
			padding: 10px;
		}
	}
}
.pro_inner {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	&:hover {
		.profile_img {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.profile_img {
	min-height: 220px;
	max-height: 220px;
	overflow: hidden;
	img {
		height: 220px;
		width: 100%;
		object-fit: cover;
		transition: transform 2s, filter 1.5s ease-in-out;
	}
}
.user_name {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #54544C;
	height: 70px;
	padding: 9px 20px;
	h6 {
		color: #8EC74C;
		font-size: 18px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	p {
		font-size: 15px;
		margin: 0;
		color: #8EC74C;
		text-transform: uppercase;
	}
}
.traning_grid {
	margin-bottom: 50px;
	h5 {
		font-size: 25px;
	}
	p {
		font-size: 20px;
		font-weight: 600;
		max-width: 950px;
		margin: 0 auto;
	}
	li {
		font-size: 25px;
		line-height: normal;
	}
}
.traning_post_box {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		li {
			padding: 10px;
			width: 25%;
		}
	}
	margin-bottom: 50px;
}
.combine_box {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	&:hover {
		.post_img {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.post_img {
	overflow: hidden;
	img {
		height: 300px;
		min-height: 300px;
		max-height: 300px;
		width: 100%;
		object-fit: cover;
		transition: transform 2s, filter 1.5s ease-in-out;
	}
}
.gray_content {
	background-color: #54544C;
	text-align: center;
	padding: 15px 15px 30px;
	min-height: 110px;
	max-height: 110px;
	position: relative;
	h4 {
		font-size: 14px;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		text-transform: uppercase;
	}
	a {
		color: #8EC74C;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		position: absolute;
		right: 15px;
		bottom: 15px;
	}
}
.support_min {
	max-width: 1200px;
	margin: 0 auto;
	.services_icon {
		min-height: 100px;
	}
}
.icons_grid {
	min-height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.search_product {
	.icons_content {
		li {
			h6 {
				margin: 0;
				color: #8EC74C;
				font-size: 18px;
			}
		}
	}
}
.user_profile_gallery {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -6px;
		li {
			padding: 6px;
			width: 20%;
		}
	}
}
.main_box {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	&:hover {
		.cross_img {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.user_head {
	position: relative;
	span {
		background-color: #54544c;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		padding: 2px 6px;
		display: block;
		position: absolute;
		bottom: 25px;
		right: 5px;
		border-radius: 4px;
	}
}
.cross_img {
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 83%);
	height: 280px;
	min-height: 280px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: transform 1s, filter 1.6s ease-in-out;
	}
}
.about_user {
	padding: 5px 15px 25px;
	h4 {
		color: #54544C;
		font-size: 16px;
		margin-bottom: 5px;
	}
	p {
		color: #54544C;
		font-size: 14px;
	}
}
.box_bg {
	padding: 0 35px !important;
	position: relative;
	margin-bottom: 50px;
}
.three_box_outer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 35px;
	bottom: 0;
	.row {
		height: 100%;
	}
}
.service_Content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	h4 {
		text-align: center;
		font-size: 25px;
	}
	.arrow_btn {
		align-items: flex-end;
		justify-content: flex-end;
	}
}
.dealer_form {
	.form_title {
		text-align: left;
		margin-bottom: 20px;
		h4 {
			margin-bottom: 4px;
			text-transform: uppercase;
		}
		h5 {
			color: #8EC74C;
			font-size: 18px;
			margin-bottom: 5px;
		}
	}
	form {
		.form-group {
			label {
				color: #8EC74C;
				font-size: 18px;
				text-transform: uppercase;
			}
		}
	}
}
.contact_us {
	.sub_content {
		.green_btn {
			width: auto;
		}
	}
}
.t_grid {
	margin-bottom: 50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 20px 0px;
}
.top_border {
	border-top: 1px solid #eee;
	padding-top: 5px;
}
.address_box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	ul {
		li {
			margin-bottom: 25px;
			h4 {
				color: #8EC74C;
				font-size: 25px;
				font-weight: 600;
				margin-bottom: 5px;
				i {
					color: #fff;
					margin-right: 15px;
				}
			}
			>a {
				color: #fff;
				font-size: 23px;
				font-weight: 400;
			}
		}
	}
}
.left_box {
	padding-right: 20%;
	border-right: 1px solid #eee;
}
.right_box {
	padding-left: 20%;
}
.address_info {
	padding-left: 45px;
	p {
		text-transform: uppercase;
	}
	address {
		margin-top: 15px;
		a {
			display: inline-block;
			color: #fff;
			font-size: 18px;
		}
	}
}
.add_description {
	p {
		font-size: 16px;
		line-height: 20px;
	}
}
.search_right {
	position: relative;
	input {
		width: 360px;
		height: 52px;
		background-color: #fff;
		border: 3px solid #707070;
		padding: 10px 40px 10px 15px;
		border-radius: 10px;
		color: #8EC74C;
		outline: none;
		transition-duration: 0.4s;
		&:focus {
			border-color: #8EC74C;
		}
	}
	.search_btn {
		position: absolute;
		right: 0;
		top: 2px;
		bottom: 2px;
		border: none;
		outline: none;
		background-color: transparent;
		color: #8EC74C;
		font-size: 20px;
		padding: 2px 10px;
		font-weight: normal;
	}
}
.search_head {
	margin-bottom: 50px;
}
.cards_body {
	.row {
		>div {
			margin-bottom: 30px;
		}
	}
}
.card_grid {
	background-color: #fff;
	transition-duration: 0.4s;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	&:hover {
		.card_img {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.card_img {
	min-height: 250px;
	max-height: 350px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		transition: transform 1s, filter 1.6s ease-in-out;
		height: 265px;
		object-fit: cover;
		vertical-align: top;
	}
}
.card_content {
	padding: 30px 20px 25px;
	position: relative;
}
.tag_title {
	position: absolute;
	right: 20px;
	top: 15px;
	span {
		display: inline-block;
		background-color: #54544c;
		padding: 0 6px;
		font-size: 12px;
		text-transform: uppercase;
	}
}
.timeLine_tabs {
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid #fff;
		padding: 0px 100px;
		margin-top: 50px;
		position: relative;
		width: 100%;
		li {
			button {
				display: block;
				background: transparent;
				color: #fff;
				border: none;
				outline: none;
				padding-bottom: 25px;
				position: relative;
				font-size: 18px;
				font-weight: 600;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: -7px;
					width: 12px;
					height: 12px;
					z-index: 555;
					border-radius: 50%;
					background-color: #fff;
					margin: 0 auto;
				}
			}
			button.active {
				color: #8EC74C;
				&::after {
					background-color: #6AD579;
				}
			}
		}
	}
}
.tab_content_inner {
	margin-top: 50px;
}
.headquaters {
	h4 {
		color: #010B13;
		font-size: 16px;
		text-transform: capitalize;
		margin-bottom: 5px;
		font-weight: bold;
		color: #010B13;
		font-size: 16px;
		text-transform: capitalize;
		margin-bottom: 5px;
		font-weight: bold;
		p {
			font-size: 16px;
			font-weight: 400;
			color: #010B13;
			line-height: 23px;
			a {
				color: #010B13;
				&:last-child {
					color: #8EC74C;
					font-size: 15px;
					font-weight: 600;
					display: block;
					margin-top: 5px;
					transition-duration: 0.4s;
					i {
						margin-left: 10px;
					}
					&:hover {
						color: #010B13;
					}
				}
			}
		}
	}
}
.event_tab_btn {
	.more_post {
		margin-top: 10px;
	}
}
.screen-reader-text {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	a {
		border: 0;
		clip: rect(1px,1px,1px,1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}
.page-id-340 {
	.banner_content {
		.green_btn {
			width: 230px;
		}
	}
}
#wpsl-wrap {
	border-radius: 10px 10px 0px 0px;
	margin: 0px !important;
	.wpsl-search {
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
	}
	.wpsl-selected-item {
		height: 45px;
		display: flex;
		align-items: center;
		font-size: 14px;
	}
}
#wpsl-result-list {
	margin-right: 0px;
	width: 38%;
	ul {
		li {
			color: #000;
			border-bottom: 1px solid #8EC74C !important;
			padding: 20px 20px !important;
			.wpsl-store-location {
				display: flex;
				justify-content: space-between;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
#wpsl-gmap {
	width: 62%;
}
.wpsl-direction-wrap {
	a {
		display: block;
		margin: 0px 0px 30px !important;
		background-color: #8EC74C;
		color: #fff;
		text-decoration: none;
		font-size: 16px !important;
		border-radius: 5px;
		padding: 12px 12px;
		font-weight: 600;
		box-shadow: 0px 3px 6px #00000029;
		transition-duration: 0.4s;
		border: none;
		width: 130px;
		&:hover {
			color: #8EC74C;
			background-color: #fff;
		}
	}
	display: inline-block;
	color: #010B13;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
	strong {
		display: inline-block;
		color: #010B13;
		font-weight: 400;
		font-size: 14px;
		text-align: right;
	}
}
.title-wpsl {
	strong {
		display: block;
		color: #010B13;
		font-size: 18px;
		font-weight: 600;
		a {
			color: #010B13;
			display: block;
			font-weight: 600;
		}
	}
	.wpsl-category {
		color: #010B13;
		font-size: 16px;
		margin-bottom: 5px !important;
	}
	.wpsl-contact-details {
		margin: 25px 0px 0px !important;
		font-size: 16px;
		font-weight: 400;
	}
}
.wpsl-selected-item {
	&::after {
		border-top: 8px solid #8EC74C;
	}
}
.wpsl-active {
	.wpsl-selected-item {
		&::after {
			border-bottom: 8px solid #8EC74C;
		}
	}
}
#news_tab {
	.text-center.more_post {
		margin-top: 0px;
		.breadcrum_grid {
			margin-bottom: 50px;
		}
	}
}
p {
	a {
		color: #8EC74C;
		&:hover {
			color: #8EC74C;
			font-weight: 700;
		}
	}
}
.page-id-760 {
	table {
		margin: 0 auto;
		width: 100% !important;
		background: #fff;
		color: #000;
		font-size: 14px;
	}
}
thead {
	background: #f6f6f4 !important;
	border: 1px solid;
}
table {
	td {
		padding: 15px;
		border: 1px solid #ccc;
	}
}
.loading-image {
	display: none;
}
.show_loader {
	display: block;
}
#productsSearch {
	.product_items {
		padding-bottom: 20px;
		&:hover {
			border-bottom: 2px solid #8EC74C;
		}
	}
	.product_items.active {
		border-bottom: 2px solid #8EC74C;
	}
}
main {
	min-height: 80vh;
	section {
		&:first-child {
			margin-bottom: 80px;
		}
		&:not(:first-child) {
			margin-bottom: 80px !important;
			padding: 0 !important;
		}
	}
	section.line_grid {
		padding: 80px 0 !important;
		&:nth-child(2) {
			padding-top: 0 !important;
		}
	}
	section.lightGary_bg {
		padding-bottom: 1.5rem !important;
		margin-bottom: 0px !important;
	}
}
.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 700px;
}
.error404 {
	>article {
		padding: 50px 7.4% 50px;
		height: 440px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	h1 {
		font-size: 40px;
		color: #fff;
		font-weight: 600;
		line-height: 50px;
		max-width: 450px;
		margin: 0 auto 20px;
	}
	p {
		display: block;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.search-form {
		display: flex;
		align-items: center;
		max-width: 400px;
		margin: 0 auto;
		label {
			display: block;
			width: 100%;
			input {
				width: 100%;
				height: 45px;
				border: 1px solid #000;
				padding: 15px;
			}
		}
		.search-submit {
			border: 1px solid #000;
			height: 45px;
			text-align: left;
			padding: 4px 20px;
			background-size: 20px;
			outline: none;
			border-left: none;
		}
	}
	header {
		h1 {
			max-width: 100%;
		}
	}
}
.product_items.aos-init.aos-animate {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.home {
	.tab-content {
		.col-md-12.col-lg-6 {
			display: flex;
			justify-content: right;
		}
	}
}
.banner_bg {
	.carousel-item {
		height: 800px;
	}
}
.bread_nav {
	a {
		color: #fff;
		&:focus {
			color: #fff;
		}
		&:visited {
			color: #fff;
		}
	}
	.fas {
		font-size: 14px;
		padding: 0 5px;
		display: inline-block;
	}
}
.arrow_btn {
	display: inline-flex;
}
.filter_tab {
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 4px;
	}
}
.filter_tab_all {
	cursor: pointer;
}
.button-list.menu {
	a {
		position: relative;
		z-index: 2;
		transition: 0.2s;
		display: inline-block;
		margin-top: 0 !important;
		&:hover {
			.icon {
				fill: #fff;
			}
		}
	}
}
ul.button-list-inner-list {
	a {
		padding: 9px 10px;
		display: block !important;
		width: 100%;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #fff;
		min-width: 205px;
	}
}
.button-list-item {
	>a {
		display: flex;
		align-items: center;
		.icon {
			margin-left: 0.25em;
		}
	}
	&:hover {
		.button-list-inner-list {
			opacity: 1;
			transform: translateY(0);
			display: block;
			box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		}
	}
}
ul.button-list.menu {
	padding: 0;
	margin: 0;
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
	}
}
.button-list-inner-list {
	opacity: 0;
	transition: transform 0.3s cubic-bezier(0.88, -0.72, 0, 1), opacity 0.3s ease-in-out;
	transform: translateY(-4rem);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: none;
	a {
		font-weight: 300;
		font-size: 1.2rem;
	}
}
ul.menu {
	li.current-menu-item {
		>a {
			color: #8EC74C !important;
		}
	}
	li.current-menu-ancestor {
		>a {
			color: #8EC74C !important;
		}
	}
	li.current-menu-parent {
		>a {
			color: #8EC74C !important;
		}
	}
	li.current_page_parent {
		>a {
			color: #8EC74C !important;
		}
	}
}
.btn_info {
	a {
		height: auto;
	}
}
.press_contents {
	position: relative;
	z-index: 9;
}
.disabled {
	pointer-events: none;
	opacity: 0.5;
}
#searchsubmit {
	background-image: url("/wp-content/themes/javadgnss/_images/search-icon.svg");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center 10px;
}
.active {
	#searchsubmit {
		filter: invert(0);
	}
}
.d-sm-flex {
	align-items: center;
}
.wpsl-info-window {
	.address {
		font-size: 12px;
		padding-top: 5px;
	}
	span {
		padding-top: 5px;
	}
	.wpsl-info-actions {
		display: none !important;
	}
}
.search_feilds {
	.errorField {
		display: block;
	}
}
.jrl_buttons {
	background: #fff;
	margin: 20px 0;
	display: inline-block;
	padding: 10px 10px 7px 10px;
	position: absolute;
	top: 0px;
	right: 10px;
}
.videoGridSingle {
	height: auto;
	overflow: hidden;
	display: flex;
	.video_box {
		background-color: #e2e2e2;
		border-radius: 10px;
		overflow: hidden;
		max-width: 400px;
		margin: 0 10px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 555;
		}
	}
	.video_img {
		position: relative;
		min-height: 300px;
		>img {
			min-height: 300px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
.green_btn.darkColor {
	background-color: #54544c !important;
	color: #fff !important;
	padding: 15px 30px;
	margin-top: 0px !important;
	&:hover {
		background-color: #7f7f7f !important;
	}
}
.datasheets_gallery {
	ul {
		display: flex;
		column-gap: 10px;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.green_btn {
		padding: 15px 40px;
	}
	.inner_design {
		.dotted_para.column-2 {
			column-count: 1;
		}
	}
}
@media (min-width: 992px) {
	.menuLink {
		>ul {
			>li {
				&:hover {
					.dropdown_menu {
						display: block;
					}
				}
			}
		}
		ul {
			li {
				a {
					span {
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.videoGridSingle {
		flex-wrap: wrap;
		.video_container {
			margin-bottom: 15px;
		}
	}
}
