.scrollBarNew {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: #000;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: #636363;
		border-radius: 10px;
		height: 10px;
	}
}
