.search_product {
	margin-top: 50px;
	h4 {
		color: #8EC74C;
		font-size: 30px;
		text-align: center;
		font-weight: 600;
		margin-bottom: 30px;
	}
	form {
		.form_group {
			position: relative;
			input {
				width: 100%;
				height: 55px;
				color: #000000;
				font-size: 18px;
				padding: 5px 45px 5px 15px;
				outline: none;
				border: 6px solid #54544c;
				border-radius: 10px;
				transition-duration: 0.4s;
				&:focus {
					border-color: #8EC74C;
				}
			}
			.search_btn {
				position: absolute;
				bottom: 0;
				top: 0;
				right: 0;
				z-index: 555;
				outline: none;
				background-color: transparent;
				border: none;
				color: #8EC74C;
				font-size: 20px;
				padding: 8px 12px;
			}
		}
	}
	.icons_content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 50px -10px;
		li {
			width: 20%;
			text-align: center;
			padding: 10px;
		}
	}
}
.search_loaction {
	width: 100%;
	margin: 0px !important;
	background-color: #54544c;
	padding: 30px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
	border-radius: 10px 10px 0px 0px;
	.search_feilds {
		margin: 0px !important;
		&:nth-child(4) {
			display: none;
		}
		>div {
			margin: 0px !important;
			input {
				height: 45px !important;
				color: #54544C;
				font-size: 16px !important;
				font-weight: 600;
				padding: 5px 10px !important;
				outline: none;
				transition-duration: 0.4s;
			}
			input[type="text"] {
				width: 300px !important;
			}
			input[type="submit"] {
				width: 150px;
				background: #8EC74C !important;
				color: #fff !important;
				text-decoration: none;
				font-size: 18px !important;
				font-weight: 600 !important;
				transition-duration: 0.4s;
				border: none !important;
				margin: 0 !important;
				border-radius: 4px !important;
				height: 45px !important;
				text-transform: uppercase !important;
				&:hover {
					color: #8EC74C !important;
					background: #fff !important;
				}
			}
			.wpsl-dropdown {
				width: 300px !important;
				float: none !important;
			}
			label {
				display: none;
			}
		}
	}
}
.search_page {
	padding: 200px 0 50px;
	.container {
		max-width: 1200px;
	}
	header {
		position: static;
		padding: 0;
		transition: inherit;
		h1 {
			font-size: 35px;
			font-weight: 600;
			margin-bottom: 20px;
		}
	}
	footer {
		margin-top: 50px;
	}
	.bp_pagination {
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			li {
				&:first-child {
					span {
						background-color: transparent;
						color: #fff;
					}
				}
				span {
					display: block;
					background-color: #fff;
					color: #8ec74c;
					font-size: 18px;
					padding: 6px 18px;
					border-radius: 5px;
					margin: 0 2px;
					transition-duration: 0.4s;
				}
				a {
					display: block;
					background-color: #fff;
					color: #8ec74c;
					font-size: 18px;
					padding: 6px 18px;
					border-radius: 5px;
					margin: 0 2px;
					transition-duration: 0.4s;
					&:hover {
						background-color: #8ec74c;
						color: #fff;
					}
				}
				span.current {
					background-color: #8ec74c;
					color: #fff;
				}
			}
		}
	}
}
.search_listing {
	padding-left: 15px;
	li {
		list-style-type: disc;
		h2 {
			line-height: 26px;
			a {
				color: #fff;
				font-size: 20px;
				display: inline-block;
				transition-duration: 0.4s;
				&:hover {
					color: #8EC74C;
					text-decoration: underline;
				}
			}
		}
	}
}
.search_head {
	.green_btn {
		display: inline-block;
		margin-right: 8px !important;
		margin-bottom: 8px !important;
	}
}
.search_grid {
	padding: 50px 0px;
	.search_product {
		margin-top: 0px;
		margin-bottom: 50px;
	}
}
.search_content {
	max-width: 1100px;
	margin: 0 auto;
}
.load_workshop_html {
	.breadcrum_grid {
		margin: 0px !important;
	}
}
.search-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	.input-holder {
		height: 35px;
		width: 40px;
		overflow: hidden;
		background: rgba(255,255,255,0);
		border-radius: 6px;
		position: relative;
		transition: all 0.3s ease-in-out;
		.search-input {
			width: 100%;
			height: 35px;
			padding: 0px 55px 0 15px;
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			background: transparent;
			box-sizing: border-box;
			border: none;
			outline: none;
			font-size: 15px;
			font-weight: 400;
			line-height: 20px;
			color: #FFF;
			transform: translate(0, 60px);
			transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
			transition-delay: 0.3s;
		}
		.search-icon {
			width: 35px;
			height: 35px;
			border: none;
			border-radius: 6px;
			background: transparent;
			padding: 0px;
			outline: none;
			position: relative;
			z-index: 2;
			float: right;
			color: #fff;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			background-image: url("https://javadgnss.wpengine.com/wp-content/uploads/2022/03/search.svg");
			background-repeat: no-repeat;
			background-position: center;
			span {
				width: 22px;
				height: 22px;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				transform: rotate(45deg);
				transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
				&::before {
					position: absolute;
					content: '';
					width: 4px;
					height: 11px;
					left: 9px;
					top: 18px;
					border-radius: 2px;
					background: #FE5F55;
				}
				&::after {
					position: absolute;
					content: '';
					width: 14px;
					height: 14px;
					left: 0px;
					top: 0px;
					border-radius: 16px;
					border: 4px solid #FE5F55;
				}
			}
		}
	}
	.close {
		position: absolute;
		z-index: 1;
		top: 6px;
		right: 20px;
		width: 20px;
		height: 20px;
		opacity: 0;
		cursor: pointer;
		transform: rotate(-180deg);
		transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
		transition-delay: 0.2s;
		&::before {
			position: absolute;
			content: '';
			background: #8EC74C;
			border-radius: 2px;
			width: 5px;
			height: 25px;
			left: 10px;
			top: 0px;
		}
		&::after {
			position: absolute;
			content: '';
			background: #8EC74C;
			border-radius: 2px;
			width: 25px;
			height: 5px;
			left: 0px;
			top: 10px;
		}
	}
}
.search-wrapper.active {
	.input-holder {
		width: 450px;
		border-radius: 50px;
		background: #000;
		transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
		.search-input {
			opacity: 1;
			transform: translate(0, 0px);
			background-color: #000;
			color: #fff;
		}
		.search-icon {
			border-radius: 30px;
			background-color: #fff;
			color: #fff;
			span {
				transform: rotate(-45deg);
			}
		}
	}
	.close {
		right: -24px;
		opacity: inherit;
		transform: rotate(45deg);
		transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
		transition-delay: 0.5s;
	}
}
