.video_title {
	margin-bottom: 10px;
	h4 {
		font-size: 30px;
		margin-bottom: 12px;
	}
	p {
		font-size: 18px;
	}
}
.video_grid {
	ul {
		margin: 0 -6px;
		display: flex;
		flex-wrap: wrap;
		li {
			padding: 6px;
			width: 20%;
			text-align: center;
			.video_box {
				background-color: #e2e2e2;
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}
	height: 510px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.video_img {
	position: relative;
	min-height: 150px;
	>img {
		min-height: 150px;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.video_box {
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 555;
	}
}
.video_title_inner {
	height: 60px;
	background-color: #54544c;
	line-height: 60px;
}
.o-video {
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 56.25%;
	>iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
	}
}
