/* Container css start */

@media only screen and (max-width: 1500px){
	.container {width: 95%;max-width: 95%;}
	.outer__design > .container {padding: 0px;margin: 0px;width: 100%;max-width: 100%;}
	.description_info > div{padding: 25px 30px 25px 50px;}
	.description_info ul li h4{font-size: 22px;}
	.description_info ul li p{font-size: 16px;}
	.box_content2 h4 {
		font-size: 25px;
		margin-bottom: 14px;
	}
	.box_content2 ul li{
		font-size: 15px;
	}
}

/* Container css End */
@media only screen and (max-width: 1366px){
	/* Footer css start */
	.footer_bottom .d-flex ul.bottom_links li a{font-size: 12px;}
	.footer_bottom .d-flex ul.footer_social li a{font-size: 14px;}
	.footer_bottom p{font-size: 12px;}
	/* Footer css ENd */
	/* 	Inner/outer design css start */
	.outer__design .oneThird_img {max-width: 80%;}
	.outer__design .overlap_Content {width: 80%;}
	/* 	Inner/outer design css start */
	.help_communities h2 {font-size: 25px;margin-bottom: 25px;}
	p{font-size: 18px;}
	/* 	Form design css start */
	.form_grid{padding: 35px;}
	.form_grid form .form-group label{font-size: 18px;}
	.form_grid form .form-group input, .form_grid form .form-group select{height: 45px;padding: 8px 15px;}
	/* 	Form design css ENd */
	/* 	Inner Pages css start */
	.product_head_grid h4 {font-size: 25px;}
	.product_title{
		padding: 30px 25px;
	}
	.product_title h3 {
		font-size: 26px;
	}
	.key_features_img{
		max-width: 600px;
	}
	.traning_grid p {
		font-size: 20px;
	}
	.post_img img {
		height: 250px;
		min-height: 250px;
		max-height: 250px;
	}
	.user_profile_gallery ul li {
		width: 25%;
	}

	.full_img {
		height: 260px;
	}
	.left_box {
		padding-right: 12%;
	}
	.right_box {
		padding-left: 12%;
	}
	.address_box ul li h4{
		font-size: 22px;
	}
	.address_box ul li > a{
		font-size: 20px;
	}
	.brand_logo, .footer_logo a {
		max-width: 240px;
	}
	.user_img img {
		max-width: 80px;
		min-width: 80px;
		height: 80px;
		min-height: 80px;
	}
	.user_info p, #testimonal_silder .active.center .user_info p{
		font-size: 18px;
	}
	.scroll_content {
		height: 300px;
		overflow: auto;
	}
	/* 	Inner Pages css start */
}
@media only screen and (max-width: 1250px){
	/* 	Search Css start */
	.search_loaction{
		padding: 25px 15px;
	}
	.search_loaction .search_feilds > div input[type="text"] {
		width: 200px !important;
	}
	.search_loaction .search_feilds > div .wpsl-dropdown {
		width: 200px !important;
	}
	.search_loaction .search_feilds > div input[type="submit"]{
		width: 130px;
	}
	/* 	Search Css End */
}
@media only screen and (max-width: 1200px){
	p{font-size: 15px;}
/* 	Inner Pages start */
	.inovatiob_content {padding: 0px;}
	.inovation_grid h4 {font-size: 25px;margin-bottom: 15px;padding-left: 0px;}
	.inovation_img {margin-top: 25px;}
	.helping_icon {min-width: 40px;max-width: 40px;margin-right: 15px;}
	.simple_banner {padding: 50px 0px;}
	.helping_title h3 {font-size: 20px;}
	.form_title {margin-bottom: 30px;}
	.quality_content h4{font-size: 25px;}
	.quality_content h5 {font-size: 22px;}
	.img_grid img {max-width: 200px;}
	.quality_content .doc_number li a{font-size: 16px;}
	.contact_infoGrid{max-width: 100%;}
	.contact_infoGrid h4{font-size: 22px;}
	.img_right img {max-width: 100%;}
	.inner_design h5 {font-size: 22px;}
	.product_inner_info h4{font-size: 18px;}
	.product_info_list h3 {
		font-size: 25px;
	}
	.product_info_list .count_list li{
		font-size: 15px;
	}
	.text_uppercase .arrow_btn span{
		font-size: 18px;
	}
	.box_content2 h4 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.box_content2 .green_btn {
		position: static;
		margin-top: 10px;
	}
	.press_information h3{
		font-size: 26px;
	}
	.press_information h4 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.workshops_section h5 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.card_content {
		padding: 20px;
	}
	.tag_title {
		position: static;
		text-align: right;
	}
	.video_grid ul li {
		width: 25%;
	}
	.video_title h4 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.video_title p {
		font-size: 16px;
	}
	.menuLink > ul > li > a{
		font-size: 16px;
	}
	#wpsl-result-list ul li .wpsl-store-location{
		display: block;
	}
	.title-wpsl {
		margin-bottom: 25px;
	}
	.title-wpsl .wpsl-contact-details {
		margin: 15px 0px 0px !important;
	}
	.wpsl-direction-wrap a{
		margin: 0px 0px 20px !important;
	}
	.wpsl-direction-wrap, .wpsl-direction-wrap strong{
		text-align: left;
	}
	/* 	Inner Pages start */
}
/* 	Inner Pages start */
@media only screen and (max-width: 1199px){
	.product_content {margin-bottom: 0px;}
	.product_items {margin-top: 35px;}
	.view_box h4{font-size: 16px;}
	.flip_strip .overlap_Content, .overlap_Content {width: 85%;}
	.flip_strip .oneThird_img, .oneThird_img{width: 80%;}
	.overlap_Content h4{font-size: 25px;}
	.overlap_Content h5{font-size: 18px;}
	.overlap_Content p{font-size: 14px;}
	.add_new h4 {font-size: 20px;}
	.product_text_content h4{font-size: 24px;}
	.product_text_content p{font-size: 15px;}
	.product_grid .product_list{flex-wrap: wrap;}
	.product_grid .product_list li {width: 20%;padding: 3px;}
	.time_line_content h3, .tab_title{font-size: 25px;}
}
@media only screen and (max-width: 1100px){
	.product_info h3{font-size: 25px;}
	.earth_icon{font-size: 18px;}
	.arrow_btn .linkText, .story_info p{font-size: 16px;}
	.product_content p{font-size: 15px;}
	.overlap_Content{
		min-height: auto;
	}
	.product_info_list .count_list li {
		width: 50%;
	}
	.search-wrapper.active .input-holder{
		width: 335px;
	}
}
@media only screen and (max-width: 1024px){
	.post_img img {
		height: 200px;
		min-height: 200px;
		max-height: 200px;
	}
	.full_img {
		height: 200px;
	}
	.service_Content h4 {
		font-size: 20px;
	}
	.tab-content .news_img {
		height: 210px;
	}
}
@media only screen and (max-width: 1000px){
	#testimonal_silder .owl-nav button{width: 22%;}
	.user_info {min-height: 410px;}
}

@media only screen and (max-width: 991px){
	.menuLink {display: none;}
	.butgurBtn {display: block;}
	.offcanvas-body .menuLink {display: block !important;}
	.menuLink > ul {display: block;}
	.menuLink > ul > li > a {color: #000 !important;margin-left: 0;}
	.head_bottom {
		padding: 10px 0px;
	}
	.burgurline span {width: 34px;height: 3px;background-color: #fff;display: block;border-radius: 30px;}
	.burgurline span:nth-child(2){margin: 7px 0px;}
	#rightFunnel .offcanvas-body {padding: 15px 0px;}
	.dropdown_menu{position: relative;top: 0;}
/* 	Menu css start */
	.menuLink > ul > li > a{padding: 8px 45px 8px 15px;position: relative;}
	.menuLink > ul > li > a span {position: absolute;right: 0;top: 0;bottom: 0;display: flex;align-items: center;padding: 0 15px;z-index: 666;transition-duration: 0.4s;}
	.menuLink ul li a span i{font-size: 16px;margin-left: 0px;transition-duration: 0.4s;}
	.active-tab i {color: #000;transform: rotate(180deg);}

	.menuLink > ul > li > a:hover, .menuLink > ul > li > a.activeLink{background-color: #010b13;color: #fff !important;}
	.menuLink > ul > li > a:hover span, .menuLink > ul > li > a.activeLink span{background-color: #8EC74C;}
	.menuLink > ul > li:nth-child(1) .dropdown_menu, .menuLink > ul > li:nth-child(2) .dropdown_menu, .menuLink > ul > li:nth-child(3) .dropdown_menu, 
	.menuLink > ul > li:nth-child(4) .dropdown_menu, .menuLink > ul > li:nth-child(5) .dropdown_menu {
		width: auto;padding: 0px 0px;border-bottom: 1px solid #eeeeee45;
	}
	.menuLink > ul > li:nth-child(1) .dropdown_menu ul, .menuLink > ul > li:nth-child(2) .dropdown_menu ul, .menuLink > ul > li:nth-child(3) .dropdown_menu ul,
	.menuLink > ul > li:nth-child(4) .dropdown_menu ul, .menuLink > ul > li:nth-child(5) .dropdown_menu ul {
		column-count: inherit !important;
	}
	.menuLink > ul > li:nth-child(5) .dropdown_menu::after {left: 25px;right: inherit;}
	.dropdown_menu::after {display: none;}
	.dropdown_menu ul li a{padding: 4px 15px;}
	.dropdown_menu ul li a {padding: 5px 15px 5px 30px;border-top: 1px solid #eeeeee45;}
	.modal-backdrop.show {opacity: .8;}

	#mainSlider {height: 450px;}
	#mainSlider .carousel-inner, #mainSlider .carousel-inner .carousel-item {height: 100%;}
	#mainSlider .carousel-inner .carousel-item img {height: 100%;object-fit: cover;object-position: center;}
	#mainSlider .carousel-caption h2{font-size: 35px;}
	/* 	Menu css start */
	/* 	Footer css start */
	.footer_top{padding: 15px 0px;}
	.footer_link {margin: 10px 0px;}
	.footer_bottom{padding: 10px 0px;}
	.footer_bottom .d-flex {flex-direction: column-reverse;}
	.footer_bottom .d-flex ul.bottom_links li a{padding: 8px 10px;}
	.footer_bottom .d-flex ul.footer_social li:first-child a {margin-left: 0;}
	/* 	Footer css End */
	/* 	Header css start */
	.header_right > ul > li {margin-left: 20px;}
	.header_right > ul > li > a{font-size: 14px;}
	.header_right > ul > li:nth-child(3) a {width: 38px;height: 38px;font-size: 13px;}
	.head_socialLinks ul li a {font-size: 15px;padding: 5px 5px;margin-right: 8px;}
	/* 	Header css End */
	
	/* 	Inner css start */
	.tabs_grid {margin: 40px 0px;}

	.more_post {margin-top: 0px;}

	.sub_banner_content {
		height: auto;
	}
	.sub_banner_img {height: 445px;}
	.sub_content {padding-top: 115px;}
	.img_grid img {max-width: 100px;}


	.sub_content h1, .simple_banner h1{font-size: 32px;}
	.view_box{display: block;text-align: center;}
	.view_box .arrow_btn {display: inline-block;}
	.product_grid .product_list li {width: 25%;}
	.helping_section {margin: 40px 0px 30px;}
	.press_information strong{font-size: 16px;margin: 15px 0px;}
	.press_information h3{font-size: 26px;margin-bottom: 15px;}
	.press_information h4 {font-size: 22px;margin-bottom: 15px;}
	.product_head_grid {padding-bottom: 0px;}
	.product_head_grid h4 {font-size: 22px;}

	.description_info > div {
		padding: 25px 25px 25px 30px;
	}
	.flip_strip {
		margin: 50px 0px;
	}
	.product_title {
		padding: 15px;
	}
	.right_content h3 {
		font-size: 18px;
		max-width: 100px;
	}
	.box_content2 {
		padding: 0px;
	}
	.box_img {
		margin-top: 35px;
	}
	.box_img img{
		width: 100%;
	}
	.traning_post_box ul li {
		width: 33.33%;
	}
	.traning_grid {
		margin-bottom: 35px;
	}
	.traning_grid h5 br{
		display: none;
	}
	.user_profile_gallery ul li {
		width: 33.33%;
	}
	.user_head span{
		font-size: 12px;
	}
	.search_product .icons_content li{
		width: 25%;
	}
	.dealer_app_grid {
		margin: 0 auto 25px;
	}
	.menuLink > ul > li > span, .dropdown_menu .sub-menu li > span {
		display: none;
	}
	.timeLine_tabs .nav{
		padding: 0px 60px;
	}
	.arrow_line span{
		width: 40px;
		height: 40px;
		font-size: 20px;
		bottom: -20px;
	}
	.timeLine_tabs .nav li button{
		font-size: 16px;
	}
	.brand_logo, .footer_logo a {
		max-width: 220px;
	}
	.event_tab_btn .more_post {
		margin-top: 30px;
	}
	.btn_info a{
		width: auto;
		min-width: auto;
	}
	.offcanvas-header .btn-close {
		background-color: #8EC74C;
		opacity: inherit;
		border-radius: 50%;
		outline: none;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(3), .form_grid #gform_3 #gform_fields_3 li:nth-child(4){
		width: 50%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(5) {
		width: 100%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(8), .form_grid #gform_3 #gform_fields_3 li:nth-child(9), .form_grid #gform_3 #gform_fields_3 li:nth-child(10), 
	.form_grid #gform_3 #gform_fields_3 li:nth-child(11) {
		width: 50%;
	}

	.tab-content .news_img {
		height: auto;
	}
	.btn_filter_group a {
		padding: 15px 20px;
	}
		/* 	Inner css End */
}
@media only screen and (max-width: 850px){
		/* 	Inner css start */
	.overlap_grid {position: static;}
	.oneThird_img {max-width: 100%;border-radius: 0px;margin: 0px;}
	.overlap_Content {width: 100%;height: auto;margin-top: -10%;}
	.flip_strip {margin: 0px 0px;}
	.flip_strip .oneThird_img, .oneThird_img {max-width: 100%;border-radius: 0px;}
	.flip_strip .overlap_Content, .overlap_Content {width: 100%;max-width: 100%;}
	.flip_strip .oneThird_img, .oneThird_img{width: 100%;}
	.flip_strip .oneThird_img {max-width: 100%;width: 100%;float: none;}
	.overlap_Content{padding: 20px 20px 55px;}
	.overlap_Content .arrow_btn {right: 20px;bottom: 20px;}
	.overlap_Content h4{font-size: 25px;}
	.overlap_Content h5{font-size: 18px;}
	.overlap_Content p, .content_title p{font-size: 14px;}
	.outer__design .container {margin: 0;padding: 0;width: 100%;max-width: 100%;}
	.outer__design .overlap_Content, .outer__design .oneThird_img {width: 100%;max-width: 100%;}
	.quality_info {margin: 20px 0px 0px;}
	.contact_infoGrid {padding: 25px 0px;display: block;text-align: center;}
	.contact_us_btn {width: 265px;margin: 15px auto 0px;}
	.product_desgin .full_content {padding: 0px;}
	.product_title h3 {
		font-size: 22px;
	}
	.Presenters_grid ul li {
		width: 25%;
	}
	.oneThird_img img{
		height: auto;
	}
}
	/* 	Inner css End */
@media only screen and (max-width: 768px){
	.scroll_content {height: 245px;overflow: auto;padding-right: 10px;}
	.product_grid .product_list li {width: 33.33%;}
	/*.time_line_design ul{padding: 0px 35px;}
	.time_line_design ul::before, .time_line_design ul::after {width: 35px;height: 35px;top: 30px;}*/
	.search_loaction {
		float: none !important;
	}
	.search_loaction .search_feilds {
		margin: 0px !important;
		float: none !important;
		width: 50%;
		padding: 2px;
	}
	.search_loaction .search_feilds > div input[type="text"] {
		width: 100% !important;
		height: 43px !important;
	}
	.search_loaction .search_feilds > div {
		width: 100%;
	}
	.search_loaction .search_feilds > div .wpsl-dropdown {
		width: 100% !important;
	}
	.search_loaction .search_feilds > div input[type="submit"] {
		width: 100%;
	}
	#wpsl-wrap .wpsl-selected-item {
		height: 43px;
	}


	#wpsl-result-list {
		width: 100%;
	}
	#wpsl-gmap {
		width: 100%;
	}
	#wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
		height: 560px !important;
	}

	#wpsl-wrap .wpsl-search{
		display: block;
	}
	#wpsl-gmap {
		width: 100%;
	}
	#wpsl-result-list {
		margin-right: 0px;
		width: 100%;
	}
	#wpsl-result-list ul li {
		padding: 25px 25px !important;
	}
	#wpsl-result-list ul li .wpsl-store-location{
		display: flex;
	}
	.title-wpsl {
		margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px){
	.container {
		width: 98%;
		max-width: 98%;
	}
	#mainSlider {height: 400px;}
	#mainSlider .carousel-caption {top: 95px;}
	.product_info {margin-bottom: 15px;}
	.footer_top {padding: 25px 0px;}
	.footer_bottom .d-flex ul.bottom_links {display: block;text-align: center;}	
	.footer_bottom .d-flex ul.bottom_links li {display: inline-block;}
	.footer_logo a {margin-bottom: 20px;}
	.footer_link {margin: 5px 0px;}

	.info_content_box h5 {font-size: 15px;margin-bottom: 10px;}
	.info_content_box h4{font-size: 20px;}
	.info_content_box p{font-size: 14px;}
	.support_Content h4{font-size: 25px;}
	.full_content .nav li button{font-size: 20px;padding-bottom: 5px;}
	.sub_banner_img {height: 400px;}
	.sub_content {
		padding-top: 70px;
	}
	.sub_content h1, .simple_banner h1 {
		font-size: 30px;
	}
	.banner_content .green_btn{
		width: auto;
	}
	.banner_content p {
		font-size: 16px;
	}
	.sub_content{top: 50px;}
	.view_box {display: flex;margin-top: 15px;}
	.description_info {margin-right: 0px;}
	.description_info > div {padding: 20px 15px;}
	.story_imgGrid {height: 240px;}
	.overlap_Content h4{font-size: 18px;}
	.overlap_Content h4 br {display: none;}
	.story_imgGrid {height: 180px;}
	.time_line_content h3, .tab_title {font-size: 22px;}
	.time_line_content h4{font-size: 20px;}
	.time_line_content p{font-size: 15px;}
	.timeLine_section {margin-top: 50px;}
	.icon_content {padding: 25px !important;margin: 25px 0px 0px !important;}
	.form_grid {padding: 30px;}
	.three_box input {width: 49% !important;}
	.three_box input:last-child {width: 100% !important;margin-top: 15px;}
	.four_box input, .four_box select {width: 49% !important;}
	.four_box input:nth-child(1), .four_box input:nth-child(2) {margin-bottom: 15px;}
	.form_grid form .form-group label {font-size: 16px;}
	.form_title h4, .form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(1) h2{font-size: 22px;}
	.inner_design .dotted_para {margin-bottom: 30px;}
	.img_right {text-align: center;margin-bottom: 30px;}
	.button_grid{display: block;}
	.right_btnGroup {margin-top: 30px;}
	.line_grid {padding: 35px 0px;}
	.btn_info {flex-wrap: wrap;justify-content: center;}
	.btn_info a {margin-top: 15px;margin-right: 15px;}

	.story_imgGrid {
		min-height: 180px;
	}
	.key_features .text-end{
		position: static;
	}
	.full_content.outer__design + section {
		margin-top: 0px !important;
		padding-top: 15px !important;
	}
	.Presenters_grid ul li {
		width: 33.33%;
	}
	.traning_post_box ul li {
		width: 50%;
	}
	.traning_grid p {
		font-size: 18px;
	}
	.cross_img {
		height: 240px;
		min-height: 240px;
	}
	.box_bg, .three_box_outer {
		padding: 0px;
	}
	.full_img {
		height: 255px;
	}
	.service_Content {
		padding: 10px 15px;
		margin: 5px 0px;
	}
	.service_Content h4 {
		text-align: left;
	}
	.address_box{
		height: auto;
	}
	.application_dealer .border_info {
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 30px;
		margin-top: 0px;
	}
	.application_dealer .border_info h2 {
		margin-bottom: 20px;
	}
	.left_box {
		padding-right: 0px;
		border-right: none;
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
	}
	.right_box {
		padding-left: 0px;
		margin-top: 40px;
		padding-bottom: 0px;
	}

	.video_grid ul li {
		width: 33.33%;
	}
	.user_img img {
		max-width: 60px;
		min-width: 60px;
		height: 60px;
		min-height: 60px;
	}
	.form_grid form ul#gform_fields_1 li:nth-child(2), .form_grid form ul#gform_fields_1 li:nth-child(3),
	.form_grid form ul#gform_fields_1 li:nth-child(7), .form_grid form ul#gform_fields_1 li:nth-child(8){
		width: 50% !important;
	}
	.form_grid form ul li:nth-child(4), .form_grid form ul#gform_fields_1 li:nth-child(9) {
		width: 100% !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(5) {
		width: 50%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3) {
		margin-bottom: 20px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(7), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(8) {
		width: 50%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(9){
		width: 100%;
	}
	.form_grid form#gform_1 ul#gform_fields_1 li:nth-child(4) {
		width: 100% !important;
	}
	#news_tab .text-center.more_post .breadcrum_grid {
		margin-bottom: 40px;
	}
	.breadcrum_grid .pagination {
		justify-content: center;
	}
	.search_page {
		padding: 170px 0 50px;
	}
	.search_page header h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	.search_listing li h2 {
		line-height: 25px;
	}
	.search_listing li h2 a{
		font-size: 16px;
	}
	.search_right input{
		width: 100%;
	}
	.search_head .row > div > div {
		text-align: center;
	}
	.search_head {
		margin-bottom: 40px;
	}
	.search_right {
		margin-top: 20px;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(3), .form_grid #gform_3 #gform_fields_3 li:nth-child(4){
		width: 100%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(8), .form_grid #gform_3 #gform_fields_3 li:nth-child(9), .form_grid #gform_3 #gform_fields_3 li:nth-child(10), 
	.form_grid #gform_3 #gform_fields_3 li:nth-child(11) {
		width: 100%;
	}
	.news_img img {
		height: 280px;
	}
	.btn_filter_group {
		justify-content: center;
	}
}
@media only screen and (max-width: 650px){
	.inner_design .dotted_para li{font-size: 15px;}
	.user_profile_gallery ul li {
		width: 50%;
	}
	.search_product .icons_content li {
		width: 50%;
	}
}	
@media only screen and (max-width: 575px){
	.container {width: 100%;max-width: 100%;padding: 0 20px;}
	.footer_bottom .d-flex ul.bottom_links li a {padding: 0px 5px;}
	.footer_bottom p {margin-top: 5px;}
	.technology_bg {height: auto;padding: 20px 0px;}
	.info_content_box {padding: 20px;}

	.inovation_img {margin-top: 0px;}
	.inovation_grid h4 {margin-bottom: 0px;}
	.inovatiob_content {margin-top: 20px;}
	.view_box {padding: 12px 18px;}
	.view_box h4 {font-size: 16px;}
	.form_grid {padding: 20px;}
	.three_box input{width: 100% !important;margin-bottom: 15px;}
	.three_box input:last-child {width: 100% !important;margin-top: 0px;margin-bottom: 0px;}
	.four_box input, .four_box select {width: 100% !important;}
	.four_box input:nth-child(3){margin-bottom: 15px;}
	.form_title {margin-bottom: 20px;}
	.quality_content .doc_number {padding-left: 15px;padding-top: 8px;}
	.right_btnGroup {margin-top: 15px;}
	.right_btnGroup a:first-child {margin-right: 10px;}
	.inner_design p {margin: 20px 0px !important;}
	.product_head_grid h4 {font-size: 20px;}
	.see_product {max-width: 320px;margin: 30px auto 0px;}

	.support_min .services_icon {
		min-height: auto;
	}
	.product_items {
		margin-top: 15px;
	}
	.search_product .icons_content {
		margin: 35px -10px;
	}
	.icons_grid{
		height: auto;
	}
	.address_box ul li {
		margin-bottom: 15px;
	}
	.address_box ul li h4 {
		font-size: 20px;
	}
	.address_box ul li > a {
		font-size: 18px;
	}
	.address_box ul li h4 i {
		margin-right: 10px;
		font-size: 18px;
	}
	.address_info {
		padding-left: 32px;
	}
	.video_grid ul li {
		width: 50%;
	}

	.arrow_line {
		display: block;
	}
	.timeLine_tabs .nav {
		padding: 35px 0px;
		margin-top: 0px;
		display: block;
		border-bottom: none;
		border-left: 2px solid #fff;
		margin-left: 5px;
	}
	.arrow_line .prev_btn {
		left: -14px;
		transform: rotate(-90deg);
	}
	.arrow_line .next_btn {
		right: inherit;
		bottom: 0;
		top: -20px;
		left: -14px;
		transform: rotate(90deg);
	}
	.timeLine_tabs .nav li button {
		padding-bottom: 0px;
		padding-left: 20px;
	}
	.timeLine_tabs .nav li {
		padding: 10px 0px;
	}
	.timeLine_tabs .nav li button::after {
		left: -6px;
		right: inherit;
		bottom: inherit;
		margin: 0;
		top: 5px;
	}
	.timeLine_tabs {
		display: flex;
		align-items: center;
	}
	.timeLine_tabs .tab-content {
		margin: 0;
		padding-left: 25px;
	}
	.time_line_content h3{
		margin-bottom: 35px;
	}
	.brand_logo, .footer_logo a {
		max-width: 200px;
	}
	.form_grid form ul li {
		margin: 0px 0px 15px !important;
		padding: 0px 0px !important;
	}
	.form_grid form ul#gform_fields_1 li:nth-child(2), .form_grid form ul#gform_fields_1 li:nth-child(3),
	.form_grid form ul#gform_fields_1 li:nth-child(7), .form_grid form ul#gform_fields_1 li:nth-child(8){
		width: 100% !important;
		margin-bottom: 15px !important;
	}
	.form_grid form .gform_footer {
		margin: 5px 0px 0px;
	}
	.form_title {
		margin-left: 0px;
		margin-right: 0px;
	}
	.form_grid form ul li label, .form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(2) h3, 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(6) h3,
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) label{
		font-size: 16px;
	}
	.search_loaction .search_feilds{
		width: 100%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(5) {
		width: 100%;
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4) {
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span {
		padding: 0px 0px !important;
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(7), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(8) {
		width: 100%;
	}
	#gform_2 .gform_footer.top_label {
		margin: 5px 15px 0px 0px;
	}
	#gform_2 .gform_footer.top_label input{
		width: 100% !important;
	}
	.tab-content .news_img {
		height: auto;
	}
	.news_img img {
		height: auto;
	}
}
@media only screen and (max-width: 570px){
	#wpsl-search-wrap .search_loaction .search_feilds > div .wpsl-dropdown {
		width: 100% !important;
	}
	#wpsl-search-wrap .search_loaction .search_feilds > div label {
		display: none !important;
	}
	.search_page .bp_pagination ul li:first-child {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 484px){
	.header_right {width: auto;}
	.product_grid .product_list li {width: 50%;}
	.description_info ul li h4 {font-size: 20px;}
	.product_title h3 {
		font-size: 18px;
	}
	.Presenters_grid ul li {
		width: 50%;
	}
	.workshops_section h5 {
		font-size: 20px;
	}
	.traning_post_box ul li {
		width: 100%;
	}
	.user_profile_gallery ul li {
		width: 100%;
	}
	.product_items h5 {
		font-size: 18px;
	}


	#wpsl-result-list ul li {
		padding: 18px !important;
	}
	#wpsl-result-list ul li .wpsl-store-location {
		display: block;
	}
	.title-wpsl {
		margin-bottom: 20px;
	}
	#wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
		height: 500px !important;
	}
	#gform_2 .gform_footer.top_label input{
		width: auto;
	}
	.search-wrapper.active .input-holder{
		width: 260px;
	}
	.btn_filter_group a {
		padding: 15px 10px;
		font-size: 16px;
	}
}
@media only screen and (max-width: 483px){
	.testimonal_silder h4{font-size: 22px;}
	#testimonal_silder .owl-stage-outer {padding: 0px;}
	.user_info {min-height: auto;}
	.scroll_content{height: auto;}
}
@media only screen and (max-width: 414px){
	.view_box {display: block;}
	.right_btnGroup a:first-child {margin-right: 0px;margin-bottom: 15px;}
	.button_grid {text-align: center;}

	.product_info_list .count_list li {
		width: 100%;
		margin: 2px 0px;
	}
	.product_proofile {
		min-height: 150px;
		max-height: 150px;
		height: 150px;
	}
	.video_grid ul li {
		width: 100%;
	}
	.brand_logo, .footer_logo a {
		max-width: 160px;
	}
	.address_box ul li {
		margin-bottom: 8px;
	}
	.address_box ul li h4 {
		font-size: 20px;
	}
	.address_box ul li > a {
		font-size: 16px;
	}
	.address_box ul li h4 i {
		margin-right: 5px;
		font-size: 16px;
	}
	.address_info {
		padding-left: 25px;
	}
	#wpsl-search-input {
		width: 100% !important;
	}
	.header_right {
		width: 100%;
	}
	.head_socialLinks {
		display: none;
	}
}
@media only screen and (max-width: 375px){
	.search-wrapper.active .input-holder{
		width: 225px;
	}
	.offcanvas-end{
		width: 300px;
	}
}