/* Global Css Start */

*{padding:0;margin:0;list-style:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol{margin:0px;padding:0px;list-style-type: none;}
h1,h2,h3,h4,h5{margin:0px;padding:0px;}
p,a,span{margin:0px;padding:0px;font-weight: 400;}
a, a:hover, a:focus{text-decoration:none;}
img{max-width:100%;}
p{
	font-size: 18px;
}
body {    
	color: #fff;
	font-family:"proxima-nova";
	background-color: #010B13;
}
.container {width: 1500px;max-width: 1500px;margin: 0 auto;}
.gray_bg{background-color: #54544C;position:relative;}
.dark_gray_bg{background-color: #54544c;}

/* Global Css End */

/* Button Css start */
.green_btn {display: inline-block;background-color: #8EC74C;color: #fff !important;text-decoration: none;font-size: 18px;border-radius: 5px;padding: 15px 45px;
	font-weight: 500; box-shadow: 0px 3px 6px #00000029;transition-duration: 0.4s;
}
.gray_btn{
	display: inline-block;background-color: #54544C;color: #fff;text-decoration: none;font-size: 16px;border-radius: 5px;padding: 15px 45px;
	font-weight: 500; box-shadow: 0px 3px 6px #00000029;transition-duration: 0.4s;
}
.gray_btn:hover{
	color: #8EC74C;background-color: #fff; font-weight: 600px;
}
.green_btn:hover{color: #8EC74C !important;background-color: #fff;}

.btn_info {max-width: 1024px;margin: 0 auto;display: flex;align-items: center;justify-content: space-around;}

.btn_info a {
	margin-top: 25px;
	min-width: 250px;
	text-align: center;
	height: 50px;
}


.button-list-item > a .icon path {
	fill: #fff;
}
.button-list.menu a:hover .icon path {
	fill: #000;
}
.d-sm-flex .green_btn {
	margin: 0 5px;
}
.btn_filter_group {
	display: flex;
}

.arrow_btn {display: flex;align-items: center;transition-duration: 0.4s;}
.earth_icon {margin-right: 15px;font-size: 20px;color: #fff;}
.arrow_btn .linkText {color: #8EC74C;font-size: 18px;display: flex;transition-duration: 0.4s;align-items: center;font-weight: 600;}
.events_excerpt .linkText{
	color: #8EC74C;font-size: 18px;display: flex;transition-duration: 0.4s;align-items: center;font-weight: 600;
}

.events_excerpt .linkText i{
	margin-left: 12px;
	margin-top: 1px;
}
.arrow_btn:hover .linkText, .events_excerpt .linkText:hover {color: #fff;}
.arrow_btn .linkText i {margin-left: 12px;margin-top: 1px;}

/* Button Css End */


/* Header Css start */
header {
	position: relative;top: 0;left: 0;z-index: 999;right: 0;padding: 0px 0px 0px;
	-webkit-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
	background-color: #010b13;
}
.header.shrink .head_bottom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #010b13;
}
.header.shrink {transition: 0.5s ease-out;box-shadow: 0px 0 5px #6f6f6f1a;}
.head_top .d-flex {justify-content: space-between;align-items: center;}
.head_socialLinks ul {display: flex;align-items: center;}
.head_socialLinks ul li a {display: block;color: #8EC74C;font-size: 15px;padding: 0px 8px;margin-right: 10px;transition-duration: 0.4s;}
.menuLink ul li a span i {font-size: 12px;margin-left: 4px;}
.head_top {
	background-color: #fff;
	padding: 5px 0px 3px;
}
.header_right {
	width: 50%;
}
.header_right > ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header_right > ul > li {margin-left: 15px;}
.header_right > ul > li > a {color: #000;font-size: 14px;text-transform: uppercase;}
.header_right > ul > li:nth-child(3) a {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #010b13;
	color: #fff !important;
	border-radius: 50%;
	font-size: 15px;
}
.header_right > ul > li:nth-child(2) {
	width: 35px;
	height: 35px;
}
.header_right > ul > li:first-child{margin-left: 0px;    width: 40px;height: 42px;}
.brand_logo {display: block;max-width: 285px;}
.head_bottom .navbar {padding: 0px;}
.menuLink {width: 100%;}
.butgurBtn {display: none;}
.menu_grid {display: flex;align-items: center;justify-content: space-between;}
.menuLink > ul{display: flex;}
.dropdown_menu {position: absolute;z-index: 555;display: none;background-color: #010b13;top: 77px;left: 0;border-top: 1px solid #eeeeee6b;}
.dropdown_menu::after{
	content: "";position: absolute;top: -14px;left: 40px;width: 0;height: 0;border-style: solid;
	border-width: 0 9px 14px 9px;border-color: transparent transparent #fff transparent;
}
.header.shrink .dropdown_menu::after{
	border-color: transparent transparent #010b13 transparent !important;
}

.menuLink > ul > li:nth-child(1) .dropdown_menu {width: 380px;padding: 15px 20px;}
.menuLink > ul > li:nth-child(1) .dropdown_menu ul {column-count: 2;}
.menuLink > ul > li:nth-child(2) .dropdown_menu {width: 410px;padding: 15px 20px;}
.menuLink > ul > li:nth-child(2) .dropdown_menu ul {column-count: 2;}
.menuLink > ul > li:nth-child(3) .dropdown_menu {width: 315px;padding: 15px 20px;}
.menuLink > ul > li:nth-child(3) .dropdown_menu ul {column-count: 2;}
.menuLink > ul > li:nth-child(4) .dropdown_menu {width: 215px;padding: 15px 20px;}
.menuLink > ul > li:nth-child(5) .dropdown_menu {width: 450px;padding: 15px 20px;left: inherit;right: 0;}
.menuLink > ul > li:nth-child(5) .dropdown_menu ul {column-count: 2;}
.menuLink > ul > li:nth-child(5) .dropdown_menu::after{left: inherit;right: 40px;}
.dropdown_menu ul li a {font-size: 14px;display: block;padding: 2px 5px;transition-duration: 0.4s;}
.menuLink > ul > li {position: relative;}
.menuLink > ul > li > a {font-size: 18px;display: block;padding: 25px 0px;margin-left: 25px;}
.menuLink ul li a{color: #fff;transition-duration: 0.4s;text-transform: uppercase;}
.menuLink ul li a:hover{color: #8EC74C;}
.menuLink ul li:first-child a {margin: 0px;}

#mainSlider .carousel-caption {padding: 0;left: 0;right: 0;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;}
#mainSlider .carousel-caption h2 {font-size: 60px;font-weight: bold;}
/* Header Css Ens */

/* Product Css start */
.product_content {margin-bottom: 50px;}
.product_info h3 {font-size: 30px;margin-bottom: 5px;font-weight: 600;}
.product_items {text-align: center;}
.product_items h5 {font-size: 20px;margin-top: 15px;}
.product_items a {
	color: #fff;
}
/* Product Css start */
.technology_bg {height: 250px;display: flex;align-items: center;justify-content: center;text-align: center;
	background-image: url("../images/technology_bg.png");background-repeat: no-repeat;background-size: cover;background-position: center;
}
.story_info {max-width: 940px;margin: 0 auto;}
.story_info p {margin-bottom: 15px;}


.full_content .nav {align-items: center;justify-content: space-between;}
.full_content .nav li {width: 50%;text-align: center;}
.full_content .nav li button {width: 100%;text-align: center;background-color: #54544C;border: none;outline: none;color: #fff;font-size: 25px;height: 55px;display: flex;
	align-items: center;justify-content: center;transition-duration: 0.4s;position: relative;font-weight: 600;
}
.full_content .nav li button.active{background-color: #8EC74C;}
.full_content .nav li button.active::after{content: "";position: absolute;left: 0;right: 0;bottom: -15px;width: 0;height: 0;border-style: solid;
	border-width: 15px 10px 0 10px;border-color: #8dc74c transparent transparent transparent;margin: 0 auto;
}

/* Product Css ENd */

/* Tab Css start */
.tabs_grid {margin: 60px 0px;}
.tab-content {margin-top: 20px;}
.dark_bg{background-color: #010B13;}

.tab-content .news_img {
	height: 250px;
	overflow: hidden;
}

.tab-content > .tab-pane > .container > .row > div {margin-bottom: 30px; height: 100%;}
.tab-content > .tab-pane > .container > .row > div:last-child{margin-bottom: 0px;}   

/* Tab Css End */

.news_img {height: 100%;}
.news_img img {height: 250px;width: 100%;object-fit: cover;object-position: center;}
.info_content_box {height: 100%;padding: 20px 25px;}
.info_content_box h5 {font-size: 16px;margin-bottom: 12px;}
.info_content_box h4{font-size: 20px;margin-bottom: 12px;font-weight: 600;}
.info_content_box p {margin-bottom: 12px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
.info_content_box .arrow_btn {margin-top: 20px;}
#mainSlider .carousel-item img, .full_img img {width: 100%;}
.support_Content {
	text-align: center;
	padding: 25px 0 20px;
}
.support_Content h4 {font-size: 30px;margin-bottom: 8px;font-weight: 600;}
.more_post {margin-top: 50px;}
.lightGary_bg {background-color: #F8F8F8;}
.support_Content p {margin-bottom: 10px;}


/* Testimonial Css start */

.testimonal_silder {max-width: 1200px;margin: 0 auto;text-align: center;}
#testimonal_silder {margin-top: 20px;}
.testimonal_silder h4 {color: #010B13;font-size: 30px;font-weight: 600;}
#testimonal_silder .owl-stage-outer {padding: 30px 0px;}
#testimonal_silder .owl-item {transition-duration: 0.4s;background-color: #ededed;opacity: 0.6;}
#testimonal_silder .active.center {transform: scale(1.1);background-color: #010B13;z-index: 555;opacity: inherit;}
#testimonal_silder .owl-item.active.center {
	cursor: url;
}
#testimonal_silder .owl-item.active {
	cursor: pointer;
}
#testimonal_silder .owl-nav button {position: absolute;top: 0;bottom: 0;width: 30%;}
#testimonal_silder .owl-nav button span {display: none;}
#testimonal_silder .owl-nav button.owl-prev{left: 0;}
#testimonal_silder .owl-nav button.owl-next{right: 0;}
.user_info {padding: 30px 20px;min-height: 595px;display: flex;flex-direction: column;}
.user_img img {max-width: 80px;min-width: 80px;height: 80px;min-height: 80px;margin: 0 auto;border-radius: 50%;}
#testimonal_silder .owl-item.active.center .item .user_img img {
	max-width: 100px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
}
#testimonal_silder .active.center .user_info strong {font-size: 19px;color: #fff;}
#testimonal_silder .active.center .user_info p{font-size: 20px;color: #fff;font-style: italic;}
.user_info strong {color: #555;display: block;font-size: 19px;margin: 10px 0px 15px;}
.user_info p {color: #555;display: block; font-size: 20px;font-style: italic;}
/* Testimonial Css start */


/* Sub Inner pages */
.sub_banner_img img {width: 100%;}
.sub_banner_content {position: relative;}
.sub_content {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;}
.banner_content {max-width: 1300px;margin: 0 auto;}
.sub_content h1, .simple_banner h1 {font-size: 45px;font-weight: 600;}


/* Banner Css Start  */

.banner_content .green_btn {margin-top: 20px;width: 200px;text-align: center;}
.banner_content .bread_nav {display: flex;align-items: center;margin-top: 25px;}
.banner_content .bread_nav li{font-size: 14px;margin-left: 10px;font-weight: 400;}
.banner_content .bread_nav li a {display: block;font-size: 14px;color: #fff;padding-right: 20px;position: relative;}
.banner_content .bread_nav li a i {position: absolute;right: 1px;top: 4px;font-size: 12px;}
.banner_content .bread_nav li:first-child{margin-left: 0px;}
.banner_content .bread_nav li:first-child a{padding-left: 0px;}

/* Banner Css End  */

/* breadcrum Css Start  */
.breadcrum_grid {margin-bottom: 30px;}
.breadcrum_grid ul {display: flex;align-items: center;justify-content: center;}
.green_bg{color: #fff !important;background-color: #8ec74c !important;}
.breadcrum_grid ul li a, .breadcrum_grid ul li span {display: block;background-color: #fff;color: #8ec74c;font-size: 18px;padding: 6px 18px;border-radius: 5px; margin: 0 2px;transition-duration: 0.4s;}
.breadcrum_grid ul li.current span, .breadcrum_grid ul li a:hover{color: #fff !important;background-color: #8ec74c !important;}
.breadcrum_grid .current {
	width: auto;
	background-color: transparent;
	margin: 0 2px;
	border-radius: 5px;
	overflow: hidden;
}
.breadcrum_grid ul li.current span{
	margin: 0px;
	border-radius: 0;
}
.breadcrum_grid ul li.next a, .breadcrum_grid ul li.previous a {
	background-color: #8EC74C;
	color: #fff;
}
/* breadcrum Css End  */

.view_box {display: flex;align-items: center;justify-content: space-between;padding: 20px 25px;border-radius: 10px;margin-top: 15px;}
.view_box h4 {
	font-size: 25px;
	font-weight: 600;
}
.content_title {max-width: 1030px;margin: 0 auto;}
.content_title p {text-align: center;}
.full_content {position: relative;padding: 30px 0px;}
.flip_strip {margin: 60px 0px;}


/*One Third Section css start  */
.oneThird_img {max-width: 55%;margin: -30px 0px;border-radius: 0px 10px 10px 0px;overflow: hidden;}
.oneThird_img img {width: 100%;object-fit: cover;}
.overlap_grid {position: absolute;left: 0;right: 0;top: 0;bottom: 0;display: flex;align-items: center;}
.overlap_Content {background: rgba(84, 84, 76,0.7);padding: 50px 45px;color: #fff;float: right;position: relative;width: 55%;min-height: 350px;}
.overlap_Content .arrow_btn {position: absolute;right: 45px;bottom: 40px;}
.overlap_Content h4 {font-size: 30px;font-weight: 600;margin-bottom: 10px;}
.overlap_Content h5 {font-size: 20px;font-weight: 700;margin-bottom: 10px;}
.shift_content h5 {
	font-weight: 600;
	color: #8EC74C;
	text-transform: uppercase;
}
.shift_content p{
	font-size: 14px;
}
.flip_strip .oneThird_img {float: right;border-radius: 10px 0px 0px 10px;max-width: 55%;}
.flip_strip .overlap_Content {float: none;width: 55%;}
.overlap_Content ul li {font-size: 15px;margin: 8px 0px;}
.shift_content {max-width: 600px;margin-bottom: 30px;}
.add_new {text-align: right;}
.add_new h4 {color: #8EC74C;font-size: 24px;margin-bottom: 0px;}
.shift_content span {display: block;margin-top: 20px;padding-top: 20px;border-top: 3px solid #fff;font-style: italic;font-weight: 400;}
.shift_content span strong {display: block;}

/*One Third Section css start  */

/* Product css start  */
.product_text_content {max-width: 800px;margin: 40px auto 30px;text-align: center;}    
.product_text_content h4 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 600;
}
.product_text_content p {
	font-size: 16px;
}
.product_grid .product_list {display: flex;justify-content: center;max-width: 1200px;margin: 0 auto 40px;}
.product_grid .product_list li {width: 16.66%;padding: 0 3px;}
.product_grid .product_list li a {display: block;}
.product_proofile {min-height: 200px;max-height: 200px;height: 200px;}
.product_proofile img {width: 100%;height: 100%;object-fit: cover;object-position: center;transition: transform 2s, filter 1.5s ease-in-out;transform-origin: center center;}
.product_grid .product_list li a {display: block;border-radius: 0 0 10px 10px;overflow: hidden;transition-duration: 0.4s;}
.product_grid .product_list li a:hover{border-radius: 10px;}
.product_grid .product_list li a:hover .product_proofile img{transform: scale(1.1);}
.product_grid .product_list li a span {text-align: center;display: block;color: #fff;background-color: #7f7f7f;font-size: 19px;padding: 5px 5px;position: relative;z-index: 555;}
/* Product css start  */

/* Inner Section start */
.description_info {margin-right: 20px;height: 100%;}
.dark_gray {background-color: #4b4c46;}
.description_info > div {height: 100%;padding: 25px 30px 25px 65px;width: 100%;display: flex;align-items: center;}
.description_info ul {width: 100%;}
.description_info ul li {margin: 18px 0px;}
/*.description_info ul li:last-child {text-align: right;}*/
.description_info ul li:last-child .arrow_btn {display: inline-block;}
.story_imgGrid {position: relative;height: 100%;}
.story_imgGrid img {width: 100%;height: 100%;object-fit: cover;object-position: center;}
.story_imgGrid .arrow_btn {position: absolute;top: 20px;left: 35px;}
.story_imgGrid .arrow_btn span{color: #fff;}
.description_info ul li h4 {font-size: 26px;margin-bottom: 2px;font-weight: 600;}
.outer__design .oneThird_img {border-radius: 0px;}
.outer__design .overlap_Content{background: rgba(84, 84, 76,0.9);}
.add_new h4 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 700;
	max-width: 200px;
	float: right;
}
.bullet_points {padding-left: 15px;}
.bullet_points li {margin: 4px 0px !important;list-style-type: disc;}
.icon_content {width: 100%;display: flex;flex-direction: column;justify-content: center;padding: 20px 50px !important;margin: 0px !important;}
.icon_content p{margin-bottom: 12px;}
.aline_logo {height: 100%;display: flex;align-items: center;justify-content: center;}
.time_line_content {max-width: 1200px;margin: 0 auto;}
.timeLine_section {margin-top: 70px;}
.time_line_content h3 {text-align: center;font-size: 28px;}

.time_line_content h4 {text-align: center;color: #8EC74C;font-size: 24px;font-weight: 600;margin-bottom: 15px;}
.time_line_content p {text-align: center;}
.tab_title {text-align: center;margin-bottom: 22px;color: #8EC74C;font-size: 28px;font-weight: 500;}
.inovation_grid {max-width: 1330px;margin: 0 auto;}

.inovation_grid h4 {font-size: 30px;margin-bottom: 20px;padding-left: 15px;}
.inovatiob_content {padding: 0 15px;position: relative;}
.inovatiob_content p {font-size: 14px;margin-bottom: 25px;}
.inovatiob_content h5 {font-size: 18px;margin-bottom: 15px;}
.inovation_img {position: relative;}
.story_explore strong {display: block;color: #8EC74C;font-size: 14px;text-transform: uppercase;margin-bottom: 8px;}
.story_explore {position: absolute;top: 25px;left: 35px;right: 15px;}
.story_explore .arrow_btn .fa-globe-americas {margin-left: 0px;margin-right: 15px;}
.inovation_img img {width: 100%;}
.helping_section .row.dark_gray_bg {border-radius: 10px;}
.end_text {text-align: right;}
.end_text .arrow_btn {display: inline-block;}
.helping_section .info_content_box strong {display: block;font-size: 18px;}
.helping_section {margin: 50px 0px;}
.helping_title {display: flex;align-items: center;margin-bottom: 20px;}
.helping_icon {min-width: 50px;max-width: 50px;margin-right: 25px;}
.helping_title h3{font-size: 25px;}
.help_communities {text-align: center;margin-bottom: 50px;}
.help_communities h2 {font-size: 30px;margin-bottom: 30px;font-weight: 600;}
.border_info {max-width: 600px;text-align: center;margin: 25px auto;border-bottom: 2px solid #fff;padding-bottom: 15px;}
.border_info a{display: inline-block;}
.border_info strong {
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.application_dealer .arrow_btn .linkText {
	text-transform: uppercase;
	font-weight: bold;
}
.border_info .arrow_btn .fa-globe-americas {color: #fff;margin-left: 0px;margin-right: 20px;font-size: 21px;}
.form_grid {background-color: #54544c;padding: 60px;border-radius: 12px;}
.form_title {
	text-align: center;
	margin-bottom: 35px;
	margin-left: 4px;
	margin-right: 4px;
}
/* Inner Section start */

/* Form css start */
.form_title h4 {font-size: 25px;margin-bottom: 10px;font-weight: 600;}
.form_title p {font-size: 16px;}
.form_title p span {color: red;}
.form_grid form .form-group{margin-bottom: 15px;}
.form_grid form .form-group label {display: block;font-size: 20px;text-transform: uppercase;margin-bottom: 2px;}
.form_grid form .form-group label span {color: red;}
.form_grid form .form-group input {width: 100%;height: 55px;border: 1px solid #EBEBEB;outline: none;padding: 10px 20px;font-size: 18px;color: #4A4A4A;transition-duration: 0.4s;box-shadow: 0px 3px 6px #00000029;}
.form_grid form .form-group input:focus, .form_grid form .form-group textarea:focus {color: #212529;border-color: #8EC74C;outline: 0;background-color: #fff;box-shadow: 0 0 0 2px #8EC74C;}
.form_grid form .form-group select {height: 55px;border: 1px solid #EBEBEB;outline: none;padding: 10px 15px;font-size: 18px;color: #4A4A4A;
	box-shadow: 0px 3px 6px #00000029;cursor: pointer;background-color: #fff; width: 100%;}
.form_grid form .form-group textarea {width: 100%;border: 1px solid #EBEBEB;outline: none;padding: 10px 15px;font-size: 18px;
	color: #4A4A4A;resize: none;background-color: #fff;box-shadow: 0px 3px 6px #00000029;transition-duration: 0.4s;}
.input_grid {display: flex;flex-wrap: wrap;justify-content: space-between;}
.three_box input {width: 32.85% !important;}
.four_box input, .four_box select {width: 24.50% !important;}
.form_grid form .form-group .inputsub_title {font-size: 14px;}

.form_grid form ul {
	display: flex !important;
	flex-wrap: wrap;
}
.form_grid form ul li {
	margin: 0px 0px 20px !important;
	padding: 0px 4px !important;
}
.form_grid form ul li label {
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	/*text-transform: uppercase;*/
}
.form_grid form ul li label span {
	color: red !important;
}
.form_grid form ul li .ginput_container input {
	margin: 0;
	height: 55px;
	border: 1px solid #EBEBEB;
	outline: none;
	padding: 10px 20px !important;
	font-size: 18px !important;
	color: #4A4A4A;
	transition-duration: 0.4s;
	box-shadow: 0px 3px 6px #00000029;
}
.form_grid form ul li .ginput_container input:focus{
	color: #212529;
	border-color: #8EC74C;
	outline: 0;
	background-color: #fff;
	box-shadow: 0 0 0 2px #8EC74C;
}
.form_grid form ul li .ginput_container input {
	width: 100% !important;
}
.form_grid form ul#gform_fields_1 li:nth-child(1) {
	width: 100%;
	margin-bottom: 0px !important;
}
.form_grid form ul#gform_fields_1 li:nth-child(2), .form_grid form ul#gform_fields_1 li:nth-child(3), .form_grid form ul#gform_fields_1 li:nth-child(4) {
	width: 33.33% !important;
}
.form_grid form ul#gform_fields_1 li:nth-child(5) {
	width: 100%;
}
.form_grid form ul#gform_fields_1 li:nth-child(6) {
	width: 100%;
}
.form_grid form ul#gform_fields_1 li:nth-child(7), .form_grid form ul#gform_fields_1 li:nth-child(8), .form_grid form ul#gform_fields_1 li:nth-child(9) {
	width: 25% !important;
}
.form_grid form ul#gform_fields_1 li:nth-child(10){
	width: 100% !important;
}
.form_grid form ul#gform_fields_1 li:nth-child(11) {
	width: 100%;
	margin-bottom: 5px !important;
}
.form_grid form ul li .ginput_container {
	margin: 0px !important;
}
.form_grid form ul li .ginput_container select {
	width: 100% !important;
	height: 55px;
	border: 1px solid #EBEBEB;
	outline: none;
	padding: 10px 15px;
	font-size: 18px;
	color: #4A4A4A;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
	background-color: #fff;
	width: ;
}
.form_grid form ul li .ginput_container textarea {
	width: 100%;
	border: 1px solid #EBEBEB;
	outline: none;
	padding: 10px 15px;
	font-size: 18px;
	color: #4A4A4A;
	resize: none;
	height: 150px;
	background-color: #fff;
	box-shadow: 0px 3px 6px #00000029;
	transition-duration: 0.4s;
}
.form_grid form ul li .ginput_container textarea:focus{
	color: #212529;
	border-color: #8EC74C;
	outline: 0;
	background-color: #fff;
	box-shadow: 0 0 0 2px #8EC74C;
}
.form_grid form ul li .ginput_container .charleft.ginput_counter {
	font-size: 14px;
	color: #fff;
	width: 100% !important;
	font-weight: 400;
}
.form_grid form .gform_footer {
	margin: 5px 4px 0px;
	padding: 0px;
}
.form_grid form .gform_footer input {
	margin: 1px !important;
	display: inline-block !important;
	background-color: #8EC74C;
	color: #fff;
	text-decoration: none;
	font-size: 18px !important;
	border-radius: 5px;
	padding: 12px 50px;
	font-weight: 600;
	box-shadow: 0px 3px 6px #00000029;
	transition-duration: 0.4s;
	border: none;
}
.form_grid form .gform_footer input:hover{
	color: #8EC74C;
	background-color: #fff;
}

.form_grid #gform_wrapper_2 {
	margin: 0;
}
.form_grid #gform_wrapper_2 form .gform_heading {
	margin: 0;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(1) {
	width: 100%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(1) h2 {
	font-size: 25px;
	margin-bottom: 2px;
	font-weight: 600;
	text-transform: uppercase;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(1) h3{
	color: #8EC74C;
	font-size: 18px;
	font-weight: 600;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(2),
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(6) {
	width: 100%;
	margin-bottom: 8px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(2) h3, 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(6) h3 {
	color: #8EC74C;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(3) {
	width: 100%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(4) {
	width: 100%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) {
	padding: 0px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) #input_2_6 {
	display: flex;
	flex-wrap: wrap;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span {
	display: block;
	padding: 0px 4px !important;
	margin: 0px 0px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(1) {
	width: 100%;
	margin-bottom: 20px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3), 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4), 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(5) {
	width: 25%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span input {
	margin: 0px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span select {
	margin: 0px;
}

.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(7), 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(8), 
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(9) {
	width: 33.33%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(10) {
	width: 100%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) {
	width: 100%;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) label {
	color: #8EC74C;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) #gfield_description_2_13 {
	padding: 0;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 600;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) #gfield_description_2_13 ul {
	margin-top: 2px;
	text-align: left;
	padding-left: 14px !important;
}
.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) #gfield_description_2_13 ul li {
	padding: 0px !important;
	margin-bottom: 0px !important;
	font-size: 14px;
	font-weight: 600;
	list-style-type: disc !important;
}
#gform_2 .gform_footer.top_label {
	margin: 20px 4px 0px;
}
#gform_2 .gform_footer.top_label input {
	width: 250px;
	background-color: #fff;
	color: #8EC74C;
}
#gform_2 .gform_footer.top_label input:hover{
	background-color: #8EC74C;
	color: #fff;
}
.product_grid .text-center .gray_btn {
	min-width: 300px;
	font-size: 18px;
	font-weight: semibold;
}

.form_grid #gform_3 #gform_fields_3 li:nth-child(1) {
	width: 100%;
}
.form_grid #gform_3 #gform_fields_3 li:nth-child(2) {
	width: 100%;
	margin: 0px !important;
}
.form_grid #gform_3 #gform_fields_3 li:nth-child(6), .form_grid #gform_3 #gform_fields_3 li:nth-child(7), .form_grid #gform_3 #gform_fields_3 li:nth-child(12), 
.form_grid #gform_3 #gform_fields_3 li:nth-child(13), .form_grid #gform_3 #gform_fields_3 li:nth-child(14), .form_grid #gform_3 #gform_fields_3 li:nth-child(15), 
.form_grid #gform_3 #gform_fields_3 li:nth-child(16), .form_grid #gform_3 #gform_fields_3 li:nth-child(17), .form_grid #gform_3 #gform_fields_3 li:nth-child(18), 
.form_grid #gform_3 #gform_fields_3 li:nth-child(19){
	width: 100%;
}

/* Form css End */

.simple_banner {margin-top: 120px;padding: 80px 0px;}
.img_grid {margin-top: 30px;}
.img_grid img {margin-right: 20px;}
.quality_info {margin: 65px 0px 0px;}
.quality_content h4 {color: #8EC74C;font-size: 30px;margin-bottom: 15px;font-weight: 600;}
.quality_content h5 {font-size: 25px;font-weight: 600;}
.quality_content p {margin: 18px 0px;font-weight: 600;}
.quality_content .doc_number {padding-left: 40px;padding-top: 8px;}
.quality_content .doc_number li a {display: inline-block;color: #8EC74C;font-size: 18px;margin: 2px 0px;transition-duration: 0.4s;}
.quality_content .doc_number li a:hover{color: #fff;font-weight: 600;}
.quality_content .doc_number li a i{color: #fff;margin-right: 5px;}
.contact_infoGrid {display: flex;align-items: center;justify-content: center;max-width: 1100px;margin: 0 auto;padding: 40px 0px;}
.contact_infoGrid h4 {color: #8EC74C;font-size: 25px;font-weight: 600;}
.contact_us_btn {width: 225px;margin-left: 30px;}
.contact_us_btn a {width: 100%;text-align: center;}
.press_banner {text-align: center;}
.press_banner .bread_nav {justify-content: center;margin-top: 10px;}
.press_information {max-width: 1200px;margin: 0 auto;padding-bottom: 50px;}
.press_banner span {text-transform: uppercase;display: block;font-size: 20px;}
.press_banner p {font-size: 20px;}
.press_information strong {display: block;margin: 20px 0px;font-size: 18px;}
.press_information h3 {font-size: 30px;margin-bottom: 20px;font-weight: 500;}
.press_information h4 {font-size: 25px;margin-bottom: 20px;font-weight: 600;}
.press_information p {margin-bottom: 20px;}
.button_grid {display: flex;align-items: start;justify-content: space-between;margin-bottom: 30px;}
.right_btnGroup a:first-child {margin-right: 20px;}
.img_right{text-align: right;}
.img_right img {max-width: 100%;border-radius: 10px;}
.inner_design h5 {font-size: 25px;margin-bottom: 10px;}
.inner_design  p {margin: 0px 0px 15px !important;}
.inner_design .dotted_para {padding-left: 20px;margin-bottom: 50px;}
.inner_design .dotted_para.column-2{column-count: 2;}
.inner_design .dotted_para li{font-size: 18px;list-style-type: disc;}
.product_desgin {margin-top: 55px;}
.product_head_grid {text-align: center;padding-bottom: 20px;}
.product_head_grid h4 {font-size: 30px;margin-bottom: 25px;}
.line_grid {padding: 50px 0px;border-bottom: 2px solid #8EC74C;}
.product_inner_info h4 {
	font-size: 20px;
	font-size: 600;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

.product_inner_info h3 {font-size: 30px;text-align: center;margin-bottom: 4px;font-weight: 600;}
.product_inner_info p {text-align: center;}
.see_product {display: flex;align-items: center;margin-top: 40px;}
.product_img {width: 100%;max-width: 230px;  margin-right: 15px;overflow: hidden;border-radius: 10px;}
.product_img img{transition: transform 2s, filter 1.5s ease-in-out;transform-origin: center center;height: auto !important;}
.see_product:hover .product_img img{filter: brightness(100%);transform: scale(1.1);}
.product_title_info strong {display: block;font-size: 20px;margin-bottom: 5px;font-weight: 600;}

.services_icon {
	min-height: 155px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.dealer_app_grid {
	max-width: 1200px;
	margin: 0 auto 40px;
}
.product_info_list {
	width: 100%;
}
.product_info_list h3{
	font-size: 30px;
}
.product_info_list .count_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
}
.product_info_list .count_list li {
	font-size: 18px;
	width: 33.33%;
	margin: 4px 0px;
}
.product_info_list .count_list li:last-child{
	text-align: left;
}
.text_uppercase .arrow_btn span {
	text-transform: uppercase;
	color: #8EC74C;
	font-weight: 700;
	font-size: 20px;
}
.right_content h3 {
	float: right;
	color: #8EC74C;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 115px;
	text-align: center;
}
.line_Adj_grid {
	max-width: 590px;
}
.line_Adj_grid p {
	margin-bottom: 15px;
}
hr {
	border-bottom: 2px solid #fff;
	opacity: inherit;
}
.line_Adj_grid h5 {
	color: #8EC74C;
	font-size: 18px;
	text-transform: uppercase;
}
.line_Adj_grid address {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 0px;
}
.line_Adj_grid address strong{
	display: block;
}

.key_features {
	max-width: 1300px;
	margin: 0 auto;
}
.product_title {
	background-color: #54544C;
	padding: 40px 50px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px 10px 0 0px;
}


.key_features {
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
}
.product_title {
	background-color: #54544C;
	padding: 40px 50px;
	text-align: center;
	border-radius: 10px 10px 0 0px;
}
.product_title h3 {
	font-size: 30px;
	font-weight: 600;
}
.key_features_img {
	text-align: center;
	max-width: 800px;
	margin: 52px auto;
}
.key_features .text-end {
	position: absolute;
	bottom: 0;
	right: 0;
}
.key_features_img img{
	transform: perspective(1500px) rotateY(15deg);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	transition: transform 1s ease 0s;
}
.key_features:hover img{
	transform: perspective(3000px) rotateY(5deg); 
}


.rotated_row .row {
	flex-direction: row-reverse;
}
.aline_center {
	align-items: center;
}
.rotated_row .aline_center{

}
.box_content2 {
	padding: 15px;
	position: relative;
}
.box_content2 h4 {
	font-size: 30px;
	margin-bottom: 15px;
	font-weight: 600;
}
.box_content2 ul {
	padding-left: 15px;
}
.box_content2 ul li {
	font-size: 16px;
	font-weight: 500;
	list-style-type: disc;
}
.box_content2 .green_btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

.workshops_section {
	margin-top: 50px;
}
.Presenters_grid {
	margin: 40px 0px;
}
.Presenters_grid ul {
	margin: 10px -10px 0px;
	display: flex;
	flex-wrap: wrap;
}
.Presenters_grid ul li {
	width: 20%;
	padding: 10px;
}
.pro_inner {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.profile_img {
	min-height: 220px;
	max-height: 220px;
	overflow: hidden;
}
.profile_img img {
	height: 220px;
	width: 100%;
	object-fit: cover;
	transition: transform 2s, filter 1.5s ease-in-out;
}
.pro_inner:hover .profile_img img{
	transform: scale(1.1);
}
.user_name {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #54544C;
	height: 70px;
	padding: 9px 20px;
}
.user_name h6 {
	color: #8EC74C;
	font-size: 18px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.user_name p {
	font-size: 15px;
	margin: 0;
	color: #8EC74C;
	text-transform: uppercase;
}
.workshops_section h5 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
}



.traning_grid {
	margin-bottom: 50px;
}
.traning_grid h5 {
	font-size: 25px;
}
.traning_post_box ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.traning_post_box ul li {
	padding: 10px;
	width: 25%;
}
.combine_box {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
.post_img {
	overflow: hidden;
}
.post_img img {
	height: 300px;
	min-height: 300px;
	max-height: 300px;
	width: 100%;
	object-fit: cover;
	transition: transform 2s, filter 1.5s ease-in-out;
}
.combine_box:hover .post_img img{
	transform: scale(1.1);
}
.gray_content {
	background-color: #54544C;
	text-align: center;
	padding: 15px 15px 30px;
	min-height: 110px;
	max-height: 110px;
	position: relative;
}
.gray_content h4 {
	font-size: 14px;
	text-transform: uppercase;
}
.gray_content p {
	font-size: 12px;
	text-transform: uppercase;
}
.gray_content a {
	color: #8EC74C;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.support_min {
	max-width: 1200px;
	margin: 0 auto;
}
.support_min .services_icon {
	min-height: 100px;
}
.search_product {
	margin-top: 50px;
}
.search_product h4 {
	color: #8EC74C;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
}
.search_product form .form_group {
	position: relative;
}
.search_product form .form_group input {
	width: 100%;
	height: 55px;
	color: #000000;
	font-size: 18px;
	padding: 5px 45px 5px 15px;
	outline: none;
	border: 6px solid #54544c;
	border-radius: 10px;
	transition-duration: 0.4s;
}
.search_product form .form_group input:focus{
	border-color: #8EC74C;
}
.search_product form .form_group .search_btn {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	z-index: 555;
	outline: none;
	background-color: transparent;
	border: none;
	color: #8EC74C;
	font-size: 20px;
	padding: 8px 12px;
}

.search_product .icons_content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 50px -10px;
}
.search_product .icons_content li {
	width: 20%;
	text-align: center;
	padding: 10px;
}
.icons_grid {
	min-height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.search_product .icons_content li h6 {
	margin: 0;
	color: #8EC74C;
	font-size: 18px;
}


.user_profile_gallery ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -6px;
}
.user_profile_gallery ul li {
	padding: 6px;
	width: 20%;
}
.main_box {
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
}
.user_head {
	position: relative;
}
.cross_img {
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 83%);
	height: 280px;
	min-height: 280px;
}
.cross_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: transform 1s, filter 1.6s ease-in-out;
	/*transition-duration: 0.4s;*/
}
.main_box:hover .cross_img img{
	transform: scale(1.1);
}
.user_head span {
	background-color: #54544c;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 2px 6px;
	display: block;
	position: absolute;
	bottom: 25px;
	right: 5px;
	border-radius: 4px;
}
.about_user {
	padding: 5px 15px 25px;
}
.about_user h4 {
	color: #54544C;
	font-size: 16px;
	margin-bottom: 5px;
}
.about_user p {
	color: #54544C;
	font-size: 14px;
}


.box_bg {
	padding: 0 35px !important;
	position: relative;
	margin-bottom: 50px;
}
.full_img {
	height: 335px;
}
.full_img img {
	height: 100%;
	object-fit: cover;
}
.three_box_outer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 35px;
	bottom: 0;
}    
.three_box_outer .row {
	height: 100%;
}
.service_Content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}
.service_Content h4 {
	text-align: center;
	font-size: 25px;
}
.service_Content .arrow_btn {
	align-items: flex-end;
	justify-content: flex-end;
}

.application_dealer .border_info {
	max-width: 515px;
	text-align: left;
	margin-left: 19px;
}
.application_dealer .border_info h2 {
	margin-bottom: 50px;
}
.application_dealer .dotted_list {
	margin-top: 20px;
}
.application_dealer .dotted_list{
	padding-left: 15px;
}
.application_dealer .dotted_list li {
	font-size: 16px;
	list-style-type: disc;
	margin: 1px 0px;
}
.dealer_form .form_title {
	text-align: left;
}
.dealer_form .form_title {
	margin-bottom: 20px;
}
.dealer_form .form_title h4 {
	margin-bottom: 4px;
	text-transform: uppercase;
}
.dealer_form .form_title h5 {
	color: #8EC74C;
	font-size: 18px;
	margin-bottom: 5px;
}
.dealer_form form .form-group label {
	color: #8EC74C;
	font-size: 18px;
	text-transform: uppercase;
}
.form_grid form .form-group .dotted_list {
	padding-left: 15px;
	margin-bottom: 15px;
}
.form_grid form .form-group .dotted_list li {
	list-style-type: disc;
	line-height: 20px;
}
.contact_us .sub_content .green_btn {
	width: auto;
}

.t_grid {
	margin-bottom: 50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 20px 0px;
}
.top_border {
	border-top: 1px solid #eee;
	padding-top: 5px;
}
.address_box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left_box {
	padding-right: 20%;
	border-right: 1px solid #eee;
}
.right_box {
	padding-left: 20%;
}
.address_box ul li {
	margin-bottom: 25px;
}
.address_box ul li h4 {
	color: #8EC74C;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 5px;
}
.address_box ul li h4 i{
	color: #fff;
	margin-right: 15px;
}
.address_box ul li > a {
	color: #fff;
	font-size: 23px;
	font-weight: 400;
}
.address_info {
	padding-left: 45px;
}
.address_info p {
	text-transform: uppercase;
}
.address_info address {
	margin-top: 15px;
}
.address_info address a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
}

.add_description p {
	font-size: 16px;
	line-height: 20px;
}

.search_right {
	position: relative;
}
.search_right input {
	width: 360px;
	height: 52px;
	background-color: #fff;
	border: 3px solid #707070;
	padding: 10px 40px 10px 15px;
	border-radius: 10px;
	color: #8EC74C;
	outline: none;
	transition-duration: 0.4s;
}
.search_right input:focus{
	border-color: #8EC74C;
}
.search_right .search_btn {
	position: absolute;
	right: 0;
	top: 2px;
	bottom: 2px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #8EC74C;
	font-size: 20px;
	padding: 2px 10px;
	font-weight: normal;
}


.search_head {
	margin-bottom: 50px;
}
.cards_body .row > div {
	margin-bottom: 30px;
}
.card_grid {
	background-color: #fff;
	transition-duration: 0.4s;
	height: 100%;
	border-radius: 10px;
}
.card_img {
	min-height: 250px;
	max-height: 350px;
	overflow: hidden;
}

.card_img img {
	width: 100%;
	height: 100%;
	transition: transform 1s, filter 1.6s ease-in-out;
}
.card_grid:hover .card_img img{
	transform: scale(1.1);
}
.card_content {
	padding: 30px 20px 25px;
	position: relative;
}
.tag_title {
	position: absolute;
	right: 20px;
	top: 15px;
}
.tag_title span {
	display: inline-block;
	background-color: #54544c;
	padding: 0 6px;
	font-size: 12px;
	text-transform: uppercase;
}

/* Card Css Start */

.card_content h3 a {
	display: inline-block;
	color: #54544C;
	font-size: 25px;
}
.card_content h5 {
	color: #54544C;
	font-size: 18px;
	font-weight: normal;
}

.listing_title {
	margin-top: 15px;
	margin-bottom: 15px;
}
.listing_title li strong {
	font-size: 16px;
	display: block;
}
.listing_title li {
	color: #54544C;
	font-size: 14px;
}
.card_content p {
	color: #54544C;
	font-size: 14px;
}
.card_btn {
	margin-top: 25px;
}
.card_btn a {
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 8px;
}
.gray_btn.border_gray {
	background-color: transparent;
	color: #54544C;
	border: 1px solid #54544C;
}
/* Card Css End */
.gray_btn.border_gray:hover{
	background-color: #54544C;
	color: #fff;
}

/* Video Css Start */

.video_title {
	margin-bottom: 10px;
}
.video_title h4 {
	font-size: 30px;
	margin-bottom: 12px;
}
.video_title p {
	font-size: 18px;
}
.video_grid ul {
	margin: 0 -6px;
	display: flex;
	flex-wrap: wrap;
}
.video_grid ul li {
	padding: 6px;
	width: 20%;
	text-align: center;
}
.video_grid ul li .video_box {
	background-color: #e2e2e2;
	border-radius: 10px;
	overflow: hidden;
}

.video_img {
	position: relative;
	min-height: 150px;
}
.video_img > img {
	min-height: 150px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.video_box a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 555;
}
.video_title_inner {
	height: 60px;
	background-color: #54544c;
	line-height: 60px;
}

.video_grid {
	height: 510px;
	overflow-y: scroll;
	overflow-x: hidden;
}


.scrollBarNew::-webkit-scrollbar {width: 6px;}
.scrollBarNew::-webkit-scrollbar-track {background: #000;border-radius: 10px;}
.scrollBarNew::-webkit-scrollbar-thumb {background: #636363;border-radius: 10px;height: 10px;}


.o-video {
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 56.25%;
}
.o-video > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

/* Video Css End */

/* Modal Css Start */
.modal_header {
	position: relative;
}
.modal_header .btn-close {
	position: absolute;
	right: -15px;
	top: -15px;
	background-color: #000;
	opacity: inherit;
	z-index: 555;
	color: #fff;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0;
}
/* Modal Css End */
.arrow_line {
	position: relative;
	display: flex;
}
.arrow_line span {
	position: absolute;
	background-color: #54544C;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 555;
	font-size: 25px;
	color: #8EC74C;
	bottom: -22px;
}
.arrow_line .prev_btn {
	left: -10px;
}
.arrow_line .next_btn{
	right: -10px;
}

/* Timeline Tab Css Start */
.timeLine_tabs .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #fff;
	padding: 0px 100px;
	margin-top: 50px;
	position: relative;
	width: 100%;
}

.timeLine_tabs .nav li button {
	display: block;
	background: transparent;
	color: #fff;
	border: none;
	outline: none;
	padding-bottom: 25px;
	position: relative;
	font-size: 18px;
	font-weight: 600;
}
.timeLine_tabs .nav li button::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -7px;
	width: 12px;
	height: 12px;
	z-index: 555;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
}
.timeLine_tabs .nav li button.active{
	color: #8EC74C;
}
.timeLine_tabs .nav li button.active::after{
	background-color: #6AD579;
}

.tab_content_inner {
	margin-top: 50px;
}

/* Timeline Tab Css Start */


/* Headquaters Css Start */
.headquaters h4 {
	color: #010B13;
	font-size: 16px;
	text-transform: capitalize;
	margin-bottom: 5px;
	font-weight: bold;
}
.headquaters h4 p {
	font-size: 16px;
	font-weight: 400;
	color: #010B13;
	line-height: 23px;
}
.headquaters h4 p a{
	color: #010B13;
}
.headquaters h4 p a:last-child {
	color: #8EC74C;
	font-size: 15px;
	font-weight: 600;
	display: block;
	margin-top: 5px;
	transition-duration: 0.4s;
}
.headquaters h4 p a:last-child i{
	margin-left: 10px;
}
.headquaters h4 p a:last-child:hover{
	color: #010B13;
}

/* Headquaters Css Start */

/** QA Css **/
.event_tab_btn .more_post {
	margin-top: 10px;
}
.tabs_grid .full_content {
	padding-top: 20px;
}
.screen-reader-text {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
.shift_content p strong {
	display: block;
}
.shift_content p:last-child{
	font-style: italic;
}
.product_inner_info > div:first-child {
	max-width: 1200px;
	margin: 0 auto;
}



.page-id-340 .banner_content .green_btn {
	width: 230px;
}

/* WPSL Css start */

#wpsl-wrap {
	border-radius: 10px 10px 0px 0px;
	margin: 0px !important;
}
#wpsl-wrap .wpsl-search {
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}
#wpsl-result-list {
	margin-right: 0px;
	width: 38%;
}
#wpsl-gmap{
	width: 62%;
}
#wpsl-result-list ul li {
	color: #000;
	border-bottom: 1px solid #8EC74C !important;
	padding: 20px 20px !important;
}
#wpsl-result-list ul li .wpsl-store-location {
	display: flex;
	justify-content: space-between;
}
#wpsl-result-list ul li .wpsl-store-location {
	display: flex;
	justify-content: space-between;
}
.wpsl-direction-wrap a {
	display: block;
	margin: 0px 0px 30px !important;
	background-color: #8EC74C;
	color: #fff;
	text-decoration: none;
	font-size: 16px !important;
	border-radius: 5px;
	padding: 12px 12px;
	font-weight: 600;
	box-shadow: 0px 3px 6px #00000029;
	transition-duration: 0.4s;
	border: none;
	width: 130px;
}
.wpsl-direction-wrap a:hover{
	color: #8EC74C;
	background-color: #fff;
}
.wpsl-direction-wrap, .wpsl-direction-wrap strong {
	display: inline-block;
	color: #010B13;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
}
.title-wpsl strong {
	display: block;
	color: #010B13;
	font-size: 18px;
	font-weight: 600;
}
.title-wpsl strong a {
	color: #010B13;
	display: block;
	font-weight: 600;
}
.title-wpsl .wpsl-category {
	color: #010B13;
	font-size: 16px;
	margin-bottom: 5px !important;
}
.title-wpsl .wpsl-contact-details {
	margin: 25px 0px 0px !important;
	font-size: 16px;
	font-weight: 400;
}

#wpsl-wrap .wpsl-selected-item {
	height: 45px;
	display: flex;
	align-items: center;
}
.wpsl-selected-item::after{
	border-top: 8px solid #8EC74C;
}
.wpsl-active .wpsl-selected-item::after{
	border-bottom: 8px solid #8EC74C;
}
#wpsl-wrap .wpsl-selected-item{
	font-size: 14px;
}


/* WPSL Css start */

/* Search Css Start */
.search_loaction {
	width: 100%;
	margin: 0px !important;
	background-color: #54544c;
	padding: 30px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
	border-radius: 10px 10px 0px 0px;
}
.search_loaction .search_feilds {
	margin: 0px !important;
}
.search_loaction .search_feilds:nth-child(4) {
	display: none;
}
.search_loaction .search_feilds > div {
	margin: 0px !important;
}
.search_loaction .search_feilds > div input {
	height: 45px !important;
	color: #54544C;
	font-size: 16px !important;
	font-weight: 600;
	padding: 5px 10px !important;
	outline: none;
	transition-duration: 0.4s;
}

.search_loaction .search_feilds > div input[type="text"] {
	width: 300px !important;
}
.search_loaction .search_feilds > div input[type="submit"] {
	width: 150px;
	background: #8EC74C !important;
	color: #fff !important;
	text-decoration: none;
	font-size: 18px !important;
	font-weight: 600 !important;
	transition-duration: 0.4s;
	border: none !important;
	margin: 0 !important;
	border-radius: 4px !important;
	height: 45px !important;
	text-transform: uppercase !important;
}
.search_loaction .search_feilds > div input[type="submit"]:hover{
	color: #8EC74C !important;
	background: #fff !important; 
}
.search_loaction .search_feilds > div .wpsl-dropdown {
	width: 300px !important;
	float: none !important;
}
.search_loaction .search_feilds > div label {
	display: none;
}


/* Search Css Start */


.banner_content p {
	font-size: 20px;
	margin-top: 5px;
}
#news_tab .text-center.more_post {
	margin-top: 0px;
}
#news_tab .text-center.more_post .breadcrum_grid {
	margin-bottom: 50px;
}
.button_grid a {
	border-radius: 8px;
}
.banner_content .bread_nav span i {
	font-size: 15px;
	margin-left: 12px;
	margin-right: 8px;
}
.traning_grid p {
	font-size: 20px;
	font-weight: 600;
	max-width: 950px;
	margin: 0 auto;
}
.traning_post_box {
	margin-bottom: 50px;
}

.sub_banner_content {
	height: 500px;
}
.sub_banner_img {
	height: 100%;
}
.sub_banner_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search_page {
	padding: 200px 0 50px;
}
.search_page .container {
	max-width: 1200px;
}
.search_page header {
	position: static;
	padding: 0;
	transition: inherit;
}

.search_page footer {
	margin-top: 50px;
}
.search_page .bp_pagination ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.search_page .bp_pagination ul li:first-child span {
	background-color: transparent;
	color: #fff;
}
.search_page .bp_pagination ul li span, .search_page .bp_pagination ul li a {
	display: block;
	background-color: #fff;
	color: #8ec74c;
	font-size: 18px;
	padding: 6px 18px;
	border-radius: 5px;
	margin: 0 2px;
	transition-duration: 0.4s;
}
.search_page .bp_pagination ul li span.current, .search_page .bp_pagination ul li a:hover {
	background-color: #8ec74c;
	color: #fff;
}
.search_page header h1 {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
.search_listing {
	padding-left: 15px;
}
.search_listing li {
	list-style-type: disc;
}
.search_listing li h2 {
	line-height: 26px;
}
.search_listing li h2 a {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	transition-duration: 0.4s;
}
.search_listing li h2 a:hover {
	color: #8EC74C;
	text-decoration: underline;
}
.search_head .green_btn {
	display: inline-block;
	margin-right: 8px !important;
	margin-bottom: 8px !important;
}

.search_grid {
	padding: 50px 0px;
}
.search_content {
	max-width: 1100px;
	margin: 0 auto;
}
.search_grid .search_product {
	margin-top: 0px;
	margin-bottom: 50px;
}

/* Search Css End */
.load_workshop_html .breadcrum_grid {
	margin: 0px !important;
}

/**********/
.black_logo {display: none;}
/** Footer **/
.footer_top {background-color: #e2e2e2;padding: 25px 0px;}
.footer_top .container > .row {align-items: center;}
.footer_logo a {display: block;max-width: 285px;}
.footer_link h4 {color: #010B13;font-size: 16px;text-transform: capitalize;margin-bottom: 5px;font-weight: bold;}
.footer_link ul li a {color: #010B13;font-size: 16px;display: inline-block;}
.footer_bottom {background-color: #010b13;padding: 5px 0px;}
.footer_bottom .d-flex {align-items: center;justify-content: space-between;}
.footer_bottom p {color: #8EC74C;font-size: 13px;}
.footer_bottom .d-flex ul {display: flex;}   
.footer_bottom .d-flex ul.bottom_links li a {color: #8EC74C;font-size: 14px;padding: 0 14px;display: block;text-transform: uppercase;}
.footer_bottom .d-flex ul.footer_social li a {color: #fff;display: block;margin-left: 20px;font-size: 16px;}
.headquaters h4 {
	color: #010B13;
	font-size: 16px;
	text-transform: capitalize;
	margin-bottom: 5px;
	font-weight: bold;
}




.header_right > ul > li{
	position: relative;
}

.search-wrapper{
	position: absolute;
	top: 0;
	right: 0;
}

.search-wrapper .input-holder {
	height: 35px;
	width: 40px;
	overflow: hidden;
	background: rgba(255,255,255,0);
	border-radius:6px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
	width: 450px;
	border-radius: 50px;
	background: #000;
	transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	/*position: absolute;
	right: 0;
	top: -25px;*/
}
.search-wrapper .input-holder .search-input {
	width:100%;
	height: 35px;
	padding: 0px 55px 0 15px;
	opacity: 0;
	position: absolute;
	top:0px;
	left:0px;
	background: transparent;
	box-sizing: border-box;
	border:none;
	outline:none;

	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color:#FFF;
	transform: translate(0, 60px);
	transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
	opacity: 1;
	transform: translate(0, 0px);
	background-color: #000;
	color: #fff;
}
.search-wrapper .input-holder .search-icon {
	width: 35px;
	height: 35px;
	border:none;
	border-radius:6px;
	background: transparent;
	padding:0px;
	outline:none;
	position: relative;
	z-index: 2;
	float:right;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background-image: url("https://javadgnss.wpengine.com/wp-content/uploads/2022/03/search.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.search-wrapper.active .input-holder .search-icon {
	border-radius: 30px;
	background-color: #fff;
	color: #fff;
}
.search-wrapper .input-holder .search-icon span {
	width:22px;
	height:22px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	transform: rotate(45deg);
	transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
	transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
	position: absolute; 
	content:'';
}
.search-wrapper .input-holder .search-icon span::before {
	width: 4px;
	height: 11px;
	left: 9px;
	top: 18px;
	border-radius: 2px;
	background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
	width: 14px;
	height: 14px;
	left: 0px;
	top: 0px;
	border-radius: 16px;
	border: 4px solid #FE5F55;
}

.search-wrapper .close {
	position: absolute;
	z-index: 1;
	top: 6px;
	right: 20px;
	width: 20px;
	height: 20px;
	opacity: 0;
	cursor: pointer;
	transform: rotate(-180deg);
	transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition-delay: 0.2s;
}

.search-wrapper.active .close {
	right: -24px;
	opacity: inherit;
	transform: rotate(45deg);
	transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
	position:absolute;
	content:'';
	background: #8EC74C;
	border-radius: 2px;
}
.search-wrapper .close::before {
	width: 5px;
	height: 25px;
	left: 10px;
	top: 0px;
}
.search-wrapper .close::after {
	width: 25px;
	height: 5px;
	left: 0px;
	top: 10px;
}



/* customise */
p a, .product_title_info a {
	color: #8EC74C;
}
p a:hover, .product_title_info a {
	color: #8EC74C;
	font-weight:700;
}
.page-id-760 table {
	margin: 0 auto;
	width: 100% !important;
	background: #fff;
	color: #000;
	font-size: 14px;
}
thead{
	background: #f6f6f4 !important;
	border: 1px solid; 
}
table td {
	padding: 15px;
	border: 1px solid #ccc;
}


.breadcrum_grid .current{ width:50px; background-color:#fff; }

.loading-image{
	display:none;
}

.show_loader{ display:block; }

.screen-reader-text, .screen-reader-text a {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important;
}

#productsSearch .product_items{
	padding-bottom: 20px;    
}
#productsSearch .product_items.active,#productsSearch .product_items:hover{
	border-bottom: 2px solid #8EC74C;
}

main  {
	min-height: 80vh
}

.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 700px;
}
}

.error404  > article {
	padding: 50px 7.4% 50px;
	height: 440px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.error404  h1 {
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	line-height: 50px;
	max-width: 450px;
	margin: 0 auto 20px;
}
.error404  p {
	display: block;
	margin-bottom: 15px;
	font-size: 16px;
}
.error404  .search-form {
	display: flex;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
}
.error404  .search-form label {
	display: block;
	width: 100%;
}
.error404  .search-form label input{
	width: 100%;
	height: 45px;
	border: 1px solid #000;
	padding: 15px;
}
.error404  .search-form .search-submit {
	border: 1px solid #000;
	height: 45px;
	background-color: ;
	text-align: left;
	padding: 4px 20px;
	background-size: 20px;
	outline: none;
	border-left: none;
}

.error404  header h1 {
	max-width: 100%;
}


.product_items.aos-init.aos-animate {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.user_info p, #testimonal_silder .active.center .user_info p {
	font-size: 14px;
}

.home .tab-content .col-md-12.col-lg-6 {
	display: flex;
	justify-content: right;
}

.banner_bg .carousel-item {
	height: 800px;
}

.tabs_grid {
	margin-bottom: 80px;
} 

.bread_nav a, 
.bread_nav a:focus, 
.bread_nav a:visited {
	color: #fff;
}

.arrow_btn {
	display: inline-flex;
}

.filter_tab,
.filter_tab_all {
	cursor: pointer
}

.filter_tab:not(:last-child) {
	margin-right: 4px;
}
.card_grid {
	overflow: hidden;
}

.card_img img {
	height: 265px;
	object-fit: cover;
	vertical-align: top;
}

/*Additional Button Product CSS*/
.button-list.menu a {
	position: relative;
	z-index: 2;
	transition: 0.2s;
	display: inline-block;
	margin-top: 0 !important
}

ul.button-list-inner-list a {
	padding: 9px 10px;
	display: block !important;
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #fff;
	min-width: 205px;
}

.button-list.menu a:hover .icon {
	fill: #fff;
}

.button-list-item > a {
	display: flex;
	align-items: center;
}
.button-list-item > a .icon {
	margin-left: 0.25em;
}
ul.button-list.menu, 
ul.button-list.menu ul {
	padding: 0;
	margin: 0;
}
ul.button-list.menu li {
	list-style: none;
}
.button-list-item:hover .button-list-inner-list {
	opacity: 1;
	transform: translateY(0);
	display: block;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.button-list-inner-list {
	opacity: 0;
	transition: transform 0.3s cubic-bezier(0.88, -0.72, 0, 1), opacity 0.3s ease-in-out;
	transform: translateY(-4rem);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: none;
}
.button-list-inner-list a {
	font-weight: 300;
	font-size: 1.2rem;
}
/*CSS Ends*/
main section:first-child {
	margin-bottom: 80px;
}
main section:not(:first-child) {
	margin-bottom: 80px !important;
	padding: 0 !important;
}

main section.line_grid {
	padding: 80px 0 !important
}

main section.line_grid:nth-child(2) {
	padding-top: 0 !important
}

main section.lightGary_bg  {
	padding-bottom: 1.5rem!important;
	margin-bottom:0px !important;
}

.tabs_grid .full_content {
	padding-top: 0 !important;
}

.tabs_grid {
	margin: 0;
}

/*.green_btn {
padding: 20px 45px;
}*/


ul.menu li.current-menu-item > a,
ul.menu li.current-menu-ancestor > a,
ul.menu li.current-menu-parent  > a,
ul.menu li.current_page_parent > a {
	color: #8EC74C !important;
}

.btn_info a {
	height: auto;
}

.shift_content p {
	font-size: 18px !important;
	line-height: normal;
}

.shift_content p:last-child {
	font-style: normal;
}

.bread_nav .fas {
	font-size: 14px;
	padding: 0 5px;
	display: inline-block;
}

.product_text_content h4 {
	margin-bottom: 40px;
}

.traning_grid  li {
	font-size: 25px;
	line-height: normal;
}

.rotated_row,
.press_contents {
	position: relative;
	z-index: 9;
}

.disabled {
	pointer-events: none;
	opacity: 0.5
}


@media only screen and (max-width: 767px){
	.green_btn {
		padding: 15px 40px;
	}
	.inner_design .dotted_para.column-2{column-count: 1;}
}

#searchsubmit {
	background-image: url("/wp-content/themes/javadgnss/_images/search-icon.svg");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center 10px;
	/*filter: invert(1);*/
}


.active #searchsubmit {
	filter: invert(0);
}

.d-sm-flex {
	align-items: center;
}

.rotated_row {
	position: relative;
	z-index: 1;
}

.simple_banner .img_grid {
	margin-top: 10px;
	text-align: right;
}
.wpsl-info-window .address{
	font-size: 12px;
	padding-top: 5px;
}
.wpsl-info-window span{
	padding-top: 5px;
}

.wpsl-info-window .wpsl-info-actions{
	display: none !important;
}

.search_feilds .errorField{
	display: block;
}

@media (min-width: 992px) {
	.menuLink > ul > li:hover .dropdown_menu{display: block;}
	.menuLink ul li a span {
		display: inline-block;
		margin-left: 5px;
	}
}

.jrl_buttons{
	background: #fff;
	margin: 20px 0;
	/* width: auto; */
	display: inline-block;
	padding: 10px 10px 7px 10px;
	position: absolute;
	top: 0px;
	right: 10px;
}


.videoGridSingle {
	height: auto;
	overflow: hidden;
	display: flex;
}
.videoGridSingle .video_box {
    background-color: #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    margin: 0 10px;
}
.videoGridSingle .video_img {
    position: relative;
    min-height: 300px;
}
.videoGridSingle .video_img > img {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.videoGridSingle .video_box a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 555;
}

@media (max-width: 600px) {
	.videoGridSingle{
		flex-wrap: wrap;
	}
	.videoGridSingle .video_container{
		margin-bottom: 15px;
	}
}

.green_btn.darkColor{
	background-color: #54544c !important;
    color: #fff !important;
    padding: 15px 30px;
    margin-top: 0px !important;
}

.green_btn.darkColor:hover{
	background-color: #7f7f7f !important;
}
.datasheets_gallery ul{
	display: flex;
	column-gap: 10px;
	margin-bottom: 20px;
}
.right_btnGroup .file_items a:first-child{
	margin-right: 0px;
}

/* responsive */
/* Container css start */

@media only screen and (max-width: 1500px){
	.container {width: 95%;max-width: 95%;}
	.outer__design > .container {padding: 0px;margin: 0px;width: 100%;max-width: 100%;}
	.description_info > div{padding: 25px 30px 25px 50px;}
	.description_info ul li h4{font-size: 22px;}
	.description_info ul li p{font-size: 16px;}
	.box_content2 h4 {
		font-size: 25px;
		margin-bottom: 14px;
	}
	.box_content2 ul li{
		font-size: 15px;
	}
}

/* Container css End */
@media only screen and (max-width: 1366px){
	/* Footer css start */
	.footer_bottom .d-flex ul.bottom_links li a{font-size: 12px;}
	.footer_bottom .d-flex ul.footer_social li a{font-size: 14px;}
	.footer_bottom p{font-size: 12px;}
	/* Footer css ENd */
	/* 	Inner/outer design css start */
	.outer__design .oneThird_img {max-width: 80%;}
	.outer__design .overlap_Content {width: 80%;}
	/* 	Inner/outer design css start */
	.help_communities h2 {font-size: 25px;margin-bottom: 25px;}
	p{font-size: 18px;}
	/* 	Form design css start */
	.form_grid{padding: 35px;}
	.form_grid form .form-group label{font-size: 18px;}
	.form_grid form .form-group input, .form_grid form .form-group select{height: 45px;padding: 8px 15px;}
	/* 	Form design css ENd */
	/* 	Inner Pages css start */
	.product_head_grid h4 {font-size: 25px;}
	.product_title{
		padding: 30px 25px;
	}
	.product_title h3 {
		font-size: 26px;
	}
	.key_features_img{
		max-width: 600px;
	}
	.traning_grid p {
		font-size: 20px;
	}
	.post_img img {
		height: 250px;
		min-height: 250px;
		max-height: 250px;
	}
	.user_profile_gallery ul li {
		width: 25%;
	}

	.full_img {
		height: 260px;
	}
	.left_box {
		padding-right: 12%;
	}
	.right_box {
		padding-left: 12%;
	}
	.address_box ul li h4{
		font-size: 22px;
	}
	.address_box ul li > a{
		font-size: 20px;
	}
	.brand_logo, .footer_logo a {
		max-width: 240px;
	}
	.user_img img {
		max-width: 80px;
		min-width: 80px;
		height: 80px;
		min-height: 80px;
	}
	.user_info p, #testimonal_silder .active.center .user_info p{
		font-size: 18px;
	}
	.scroll_content {
		height: 300px;
		overflow: auto;
	}
	/* 	Inner Pages css start */
}
@media only screen and (max-width: 1250px){
	/* 	Search Css start */
	.search_loaction{
		padding: 25px 15px;
	}
	.search_loaction .search_feilds > div input[type="text"] {
		width: 200px !important;
	}
	.search_loaction .search_feilds > div .wpsl-dropdown {
		width: 200px !important;
	}
	.search_loaction .search_feilds > div input[type="submit"]{
		width: 130px;
	}
	/* 	Search Css End */
}
@media only screen and (max-width: 1200px){
	p{font-size: 15px;}
/* 	Inner Pages start */
	.inovatiob_content {padding: 0px;}
	.inovation_grid h4 {font-size: 25px;margin-bottom: 15px;padding-left: 0px;}
	.inovation_img {margin-top: 25px;}
	.helping_icon {min-width: 40px;max-width: 40px;margin-right: 15px;}
	.simple_banner {padding: 50px 0px;}
	.helping_title h3 {font-size: 20px;}
	.form_title {margin-bottom: 30px;}
	.quality_content h4{font-size: 25px;}
	.quality_content h5 {font-size: 22px;}
	.img_grid img {max-width: 200px;}
	.quality_content .doc_number li a{font-size: 16px;}
	.contact_infoGrid{max-width: 100%;}
	.contact_infoGrid h4{font-size: 22px;}
	.img_right img {max-width: 100%;}
	.inner_design h5 {font-size: 22px;}
	.product_inner_info h4{font-size: 18px;}
	.product_info_list h3 {
		font-size: 25px;
	}
	.product_info_list .count_list li{
		font-size: 15px;
	}
	.text_uppercase .arrow_btn span{
		font-size: 18px;
	}
	.box_content2 h4 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.box_content2 .green_btn {
		position: static;
		margin-top: 10px;
	}
	.press_information h3{
		font-size: 26px;
	}
	.press_information h4 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.workshops_section h5 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.card_content {
		padding: 20px;
	}
	.tag_title {
		position: static;
		text-align: right;
	}
	.video_grid ul li {
		width: 25%;
	}
	.video_title h4 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.video_title p {
		font-size: 16px;
	}
	.menuLink > ul > li > a{
		font-size: 16px;
	}
	#wpsl-result-list ul li .wpsl-store-location{
		display: block;
	}
	.title-wpsl {
		margin-bottom: 25px;
	}
	.title-wpsl .wpsl-contact-details {
		margin: 15px 0px 0px !important;
	}
	.wpsl-direction-wrap a{
		margin: 0px 0px 20px !important;
	}
	.wpsl-direction-wrap, .wpsl-direction-wrap strong{
		text-align: left;
	}
	/* 	Inner Pages start */
}
/* 	Inner Pages start */
@media only screen and (max-width: 1199px){
	.product_content {margin-bottom: 0px;}
	.product_items {margin-top: 35px;}
	.view_box h4{font-size: 16px;}
	.flip_strip .overlap_Content, .overlap_Content {width: 85%;}
	.flip_strip .oneThird_img, .oneThird_img{width: 80%;}
	.overlap_Content h4{font-size: 25px;}
	.overlap_Content h5{font-size: 18px;}
	.overlap_Content p{font-size: 14px;}
	.add_new h4 {font-size: 20px;}
	.product_text_content h4{font-size: 24px;}
	.product_text_content p{font-size: 15px;}
	.product_grid .product_list{flex-wrap: wrap;}
	.product_grid .product_list li {width: 20%;padding: 3px;}
	.time_line_content h3, .tab_title{font-size: 25px;}
}
@media only screen and (max-width: 1100px){
	.product_info h3{font-size: 25px;}
	.earth_icon{font-size: 18px;}
	.arrow_btn .linkText, .story_info p{font-size: 16px;}
	.product_content p{font-size: 15px;}
	.overlap_Content{
		min-height: auto;
	}
	.product_info_list .count_list li {
		width: 50%;
	}
	.search-wrapper.active .input-holder{
		width: 335px;
	}
}
@media only screen and (max-width: 1024px){
	.post_img img {
		height: 200px;
		min-height: 200px;
		max-height: 200px;
	}
	.full_img {
		height: 200px;
	}
	.service_Content h4 {
		font-size: 20px;
	}
	.tab-content .news_img {
		height: 210px;
	}
}
@media only screen and (max-width: 1000px){
	#testimonal_silder .owl-nav button{width: 22%;}
	.user_info {min-height: 410px;}
}

@media only screen and (max-width: 991px){
	.menuLink {display: none;}
	.butgurBtn {display: block;}
	.offcanvas-body .menuLink {display: block !important;}
	.menuLink > ul {display: block;}
	.menuLink > ul > li > a {color: #000 !important;margin-left: 0;}
	.head_bottom {
		padding: 10px 0px;
	}
	.burgurline span {width: 34px;height: 3px;background-color: #fff;display: block;border-radius: 30px;}
	.burgurline span:nth-child(2){margin: 7px 0px;}
	#rightFunnel .offcanvas-body {padding: 15px 0px;}
	.dropdown_menu{position: relative;top: 0;}
/* 	Menu css start */
	.menuLink > ul > li > a{padding: 8px 45px 8px 15px;position: relative;}
	.menuLink > ul > li > a span {position: absolute;right: 0;top: 0;bottom: 0;display: flex;align-items: center;padding: 0 15px;z-index: 666;transition-duration: 0.4s;}
	.menuLink ul li a span i{font-size: 16px;margin-left: 0px;transition-duration: 0.4s;}
	.active-tab i {color: #000;transform: rotate(180deg);}

	.menuLink > ul > li > a:hover, .menuLink > ul > li > a.activeLink{background-color: #010b13;color: #fff !important;}
	.menuLink > ul > li > a:hover span, .menuLink > ul > li > a.activeLink span{background-color: #8EC74C;}
	.menuLink > ul > li:nth-child(1) .dropdown_menu, .menuLink > ul > li:nth-child(2) .dropdown_menu, .menuLink > ul > li:nth-child(3) .dropdown_menu, 
	.menuLink > ul > li:nth-child(4) .dropdown_menu, .menuLink > ul > li:nth-child(5) .dropdown_menu {
		width: auto;padding: 0px 0px;border-bottom: 1px solid #eeeeee45;
	}
	.menuLink > ul > li:nth-child(1) .dropdown_menu ul, .menuLink > ul > li:nth-child(2) .dropdown_menu ul, .menuLink > ul > li:nth-child(3) .dropdown_menu ul,
	.menuLink > ul > li:nth-child(4) .dropdown_menu ul, .menuLink > ul > li:nth-child(5) .dropdown_menu ul {
		column-count: inherit !important;
	}
	.menuLink > ul > li:nth-child(5) .dropdown_menu::after {left: 25px;right: inherit;}
	.dropdown_menu::after {display: none;}
	.dropdown_menu ul li a{padding: 4px 15px;}
	.dropdown_menu ul li a {padding: 5px 15px 5px 30px;border-top: 1px solid #eeeeee45;}
	.modal-backdrop.show {opacity: .8;}

	#mainSlider {height: 450px;}
	#mainSlider .carousel-inner, #mainSlider .carousel-inner .carousel-item {height: 100%;}
	#mainSlider .carousel-inner .carousel-item img {height: 100%;object-fit: cover;object-position: center;}
	#mainSlider .carousel-caption h2{font-size: 35px;}
	/* 	Menu css start */
	/* 	Footer css start */
	.footer_top{padding: 15px 0px;}
	.footer_link {margin: 10px 0px;}
	.footer_bottom{padding: 10px 0px;}
	.footer_bottom .d-flex {flex-direction: column-reverse;}
	.footer_bottom .d-flex ul.bottom_links li a{padding: 8px 10px;}
	.footer_bottom .d-flex ul.footer_social li:first-child a {margin-left: 0;}
	/* 	Footer css End */
	/* 	Header css start */
	.header_right > ul > li {margin-left: 20px;}
	.header_right > ul > li > a{font-size: 14px;}
	.header_right > ul > li:nth-child(3) a {width: 38px;height: 38px;font-size: 13px;}
	.head_socialLinks ul li a {font-size: 15px;padding: 5px 5px;margin-right: 8px;}
	/* 	Header css End */
	
	/* 	Inner css start */
	.tabs_grid {margin: 40px 0px;}

	.more_post {margin-top: 0px;}

	.sub_banner_content {
		height: auto;
	}
	.sub_banner_img {height: 445px;}
	.sub_content {padding-top: 115px;}
	.img_grid img {max-width: 100px;}


	.sub_content h1, .simple_banner h1{font-size: 32px;}
	.view_box{display: block;text-align: center;}
	.view_box .arrow_btn {display: inline-block;}
	.product_grid .product_list li {width: 25%;}
	.helping_section {margin: 40px 0px 30px;}
	.press_information strong{font-size: 16px;margin: 15px 0px;}
	.press_information h3{font-size: 26px;margin-bottom: 15px;}
	.press_information h4 {font-size: 22px;margin-bottom: 15px;}
	.product_head_grid {padding-bottom: 0px;}
	.product_head_grid h4 {font-size: 22px;}

	.description_info > div {
		padding: 25px 25px 25px 30px;
	}
	.flip_strip {
		margin: 50px 0px;
	}
	.product_title {
		padding: 15px;
	}
	.right_content h3 {
		font-size: 18px;
		max-width: 100px;
	}
	.box_content2 {
		padding: 0px;
	}
	.box_img {
		margin-top: 35px;
	}
	.box_img img{
		width: 100%;
	}
	.traning_post_box ul li {
		width: 33.33%;
	}
	.traning_grid {
		margin-bottom: 35px;
	}
	.traning_grid h5 br{
		display: none;
	}
	.user_profile_gallery ul li {
		width: 33.33%;
	}
	.user_head span{
		font-size: 12px;
	}
	.search_product .icons_content li{
		width: 25%;
	}
	.dealer_app_grid {
		margin: 0 auto 25px;
	}
	.menuLink > ul > li > span, .dropdown_menu .sub-menu li > span {
		display: none;
	}
	.timeLine_tabs .nav{
		padding: 0px 60px;
	}
	.arrow_line span{
		width: 40px;
		height: 40px;
		font-size: 20px;
		bottom: -20px;
	}
	.timeLine_tabs .nav li button{
		font-size: 16px;
	}
	.brand_logo, .footer_logo a {
		max-width: 220px;
	}
	.event_tab_btn .more_post {
		margin-top: 30px;
	}
	.btn_info a{
		width: auto;
		min-width: auto;
	}
	.offcanvas-header .btn-close {
		background-color: #8EC74C;
		opacity: inherit;
		border-radius: 50%;
		outline: none;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(3), .form_grid #gform_3 #gform_fields_3 li:nth-child(4){
		width: 50%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(5) {
		width: 100%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(8), .form_grid #gform_3 #gform_fields_3 li:nth-child(9), .form_grid #gform_3 #gform_fields_3 li:nth-child(10), 
	.form_grid #gform_3 #gform_fields_3 li:nth-child(11) {
		width: 50%;
	}

	.tab-content .news_img {
		height: auto;
	}
	.btn_filter_group a {
		padding: 15px 20px;
	}
		/* 	Inner css End */
}
@media only screen and (max-width: 850px){
		/* 	Inner css start */
	.overlap_grid {position: static;}
	.oneThird_img {max-width: 100%;border-radius: 0px;margin: 0px;}
	.overlap_Content {width: 100%;height: auto;margin-top: -10%;}
	.flip_strip {margin: 0px 0px;}
	.flip_strip .oneThird_img, .oneThird_img {max-width: 100%;border-radius: 0px;}
	.flip_strip .overlap_Content, .overlap_Content {width: 100%;max-width: 100%;}
	.flip_strip .oneThird_img, .oneThird_img{width: 100%;}
	.flip_strip .oneThird_img {max-width: 100%;width: 100%;float: none;}
	.overlap_Content{padding: 20px 20px 55px;}
	.overlap_Content .arrow_btn {right: 20px;bottom: 20px;}
	.overlap_Content h4{font-size: 25px;}
	.overlap_Content h5{font-size: 18px;}
	.overlap_Content p, .content_title p{font-size: 14px;}
	.outer__design .container {margin: 0;padding: 0;width: 100%;max-width: 100%;}
	.outer__design .overlap_Content, .outer__design .oneThird_img {width: 100%;max-width: 100%;}
	.quality_info {margin: 20px 0px 0px;}
	.contact_infoGrid {padding: 25px 0px;display: block;text-align: center;}
	.contact_us_btn {width: 265px;margin: 15px auto 0px;}
	.product_desgin .full_content {padding: 0px;}
	.product_title h3 {
		font-size: 22px;
	}
	.Presenters_grid ul li {
		width: 25%;
	}
	.oneThird_img img{
		height: auto;
	}
}
	/* 	Inner css End */
@media only screen and (max-width: 768px){
	.scroll_content {height: 245px;overflow: auto;padding-right: 10px;}
	.product_grid .product_list li {width: 33.33%;}
	/*.time_line_design ul{padding: 0px 35px;}
	.time_line_design ul::before, .time_line_design ul::after {width: 35px;height: 35px;top: 30px;}*/
	.search_loaction {
		float: none !important;
	}
	.search_loaction .search_feilds {
		margin: 0px !important;
		float: none !important;
		width: 50%;
		padding: 2px;
	}
	.search_loaction .search_feilds > div input[type="text"] {
		width: 100% !important;
		height: 43px !important;
	}
	.search_loaction .search_feilds > div {
		width: 100%;
	}
	.search_loaction .search_feilds > div .wpsl-dropdown {
		width: 100% !important;
	}
	.search_loaction .search_feilds > div input[type="submit"] {
		width: 100%;
	}
	#wpsl-wrap .wpsl-selected-item {
		height: 43px;
	}


	#wpsl-result-list {
		width: 100%;
	}
	#wpsl-gmap {
		width: 100%;
	}
	#wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
		height: 560px !important;
	}

	#wpsl-wrap .wpsl-search{
		display: block;
	}
	#wpsl-gmap {
		width: 100%;
	}
	#wpsl-result-list {
		margin-right: 0px;
		width: 100%;
	}
	#wpsl-result-list ul li {
		padding: 25px 25px !important;
	}
	#wpsl-result-list ul li .wpsl-store-location{
		display: flex;
	}
	.title-wpsl {
		margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px){
	.container {
		width: 98%;
		max-width: 98%;
	}
	#mainSlider {height: 400px;}
	#mainSlider .carousel-caption {top: 95px;}
	.product_info {margin-bottom: 15px;}
	.footer_top {padding: 25px 0px;}
	.footer_bottom .d-flex ul.bottom_links {display: block;text-align: center;}	
	.footer_bottom .d-flex ul.bottom_links li {display: inline-block;}
	.footer_logo a {margin-bottom: 20px;}
	.footer_link {margin: 5px 0px;}

	.info_content_box h5 {font-size: 15px;margin-bottom: 10px;}
	.info_content_box h4{font-size: 20px;}
	.info_content_box p{font-size: 14px;}
	.support_Content h4{font-size: 25px;}
	.full_content .nav li button{font-size: 20px;padding-bottom: 5px;}
	.sub_banner_img {height: 400px;}
	.sub_content {
		padding-top: 70px;
	}
	.sub_content h1, .simple_banner h1 {
		font-size: 30px;
	}
	.banner_content .green_btn{
		width: auto;
	}
	.banner_content p {
		font-size: 16px;
	}
	.sub_content{top: 50px;}
	.view_box {display: flex;margin-top: 15px;}
	.description_info {margin-right: 0px;}
	.description_info > div {padding: 20px 15px;}
	.story_imgGrid {height: 240px;}
	.overlap_Content h4{font-size: 18px;}
	.overlap_Content h4 br {display: none;}
	.story_imgGrid {height: 180px;}
	.time_line_content h3, .tab_title {font-size: 22px;}
	.time_line_content h4{font-size: 20px;}
	.time_line_content p{font-size: 15px;}
	.timeLine_section {margin-top: 50px;}
	.icon_content {padding: 25px !important;margin: 25px 0px 0px !important;}
	.form_grid {padding: 30px;}
	.three_box input {width: 49% !important;}
	.three_box input:last-child {width: 100% !important;margin-top: 15px;}
	.four_box input, .four_box select {width: 49% !important;}
	.four_box input:nth-child(1), .four_box input:nth-child(2) {margin-bottom: 15px;}
	.form_grid form .form-group label {font-size: 16px;}
	.form_title h4, .form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(1) h2{font-size: 22px;}
	.inner_design .dotted_para {margin-bottom: 30px;}
	.img_right {text-align: center;margin-bottom: 30px;}
	.button_grid{display: block;}
	.right_btnGroup {margin-top: 30px;}
	.line_grid {padding: 35px 0px;}
	.btn_info {flex-wrap: wrap;justify-content: center;}
	.btn_info a {margin-top: 15px;margin-right: 15px;}

	.story_imgGrid {
		min-height: 180px;
	}
	.key_features .text-end{
		position: static;
	}
	.full_content.outer__design + section {
		margin-top: 0px !important;
		padding-top: 15px !important;
	}
	.Presenters_grid ul li {
		width: 33.33%;
	}
	.traning_post_box ul li {
		width: 50%;
	}
	.traning_grid p {
		font-size: 18px;
	}
	.cross_img {
		height: 240px;
		min-height: 240px;
	}
	.box_bg, .three_box_outer {
		padding: 0px;
	}
	.full_img {
		height: 255px;
	}
	.service_Content {
		padding: 10px 15px;
		margin: 5px 0px;
	}
	.service_Content h4 {
		text-align: left;
	}
	.address_box{
		height: auto;
	}
	.application_dealer .border_info {
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 30px;
		margin-top: 0px;
	}
	.application_dealer .border_info h2 {
		margin-bottom: 20px;
	}
	.left_box {
		padding-right: 0px;
		border-right: none;
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
	}
	.right_box {
		padding-left: 0px;
		margin-top: 40px;
		padding-bottom: 0px;
	}

	.video_grid ul li {
		width: 33.33%;
	}
	.user_img img {
		max-width: 60px;
		min-width: 60px;
		height: 60px;
		min-height: 60px;
	}
	.form_grid form ul#gform_fields_1 li:nth-child(2), .form_grid form ul#gform_fields_1 li:nth-child(3),
	.form_grid form ul#gform_fields_1 li:nth-child(7), .form_grid form ul#gform_fields_1 li:nth-child(8){
		width: 50% !important;
	}
	.form_grid form ul li:nth-child(4), .form_grid form ul#gform_fields_1 li:nth-child(9) {
		width: 100% !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(5) {
		width: 50%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3) {
		margin-bottom: 20px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(7), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(8) {
		width: 50%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(9){
		width: 100%;
	}
	.form_grid form#gform_1 ul#gform_fields_1 li:nth-child(4) {
		width: 100% !important;
	}
	#news_tab .text-center.more_post .breadcrum_grid {
		margin-bottom: 40px;
	}
	.breadcrum_grid .pagination {
		justify-content: center;
	}
	.search_page {
		padding: 170px 0 50px;
	}
	.search_page header h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	.search_listing li h2 {
		line-height: 25px;
	}
	.search_listing li h2 a{
		font-size: 16px;
	}
	.search_right input{
		width: 100%;
	}
	.search_head .row > div > div {
		text-align: center;
	}
	.search_head {
		margin-bottom: 40px;
	}
	.search_right {
		margin-top: 20px;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(3), .form_grid #gform_3 #gform_fields_3 li:nth-child(4){
		width: 100%;
	}
	.form_grid #gform_3 #gform_fields_3 li:nth-child(8), .form_grid #gform_3 #gform_fields_3 li:nth-child(9), .form_grid #gform_3 #gform_fields_3 li:nth-child(10), 
	.form_grid #gform_3 #gform_fields_3 li:nth-child(11) {
		width: 100%;
	}
	.news_img img {
		height: 280px;
	}
	.btn_filter_group {
		justify-content: center;
	}
}
@media only screen and (max-width: 650px){
	.inner_design .dotted_para li{font-size: 15px;}
	.user_profile_gallery ul li {
		width: 50%;
	}
	.search_product .icons_content li {
		width: 50%;
	}
}	
@media only screen and (max-width: 575px){
	.container {width: 100%;max-width: 100%;padding: 0 20px;}
	.footer_bottom .d-flex ul.bottom_links li a {padding: 0px 5px;}
	.footer_bottom p {margin-top: 5px;}
	.technology_bg {height: auto;padding: 20px 0px;}
	.info_content_box {padding: 20px;}

	.inovation_img {margin-top: 0px;}
	.inovation_grid h4 {margin-bottom: 0px;}
	.inovatiob_content {margin-top: 20px;}
	.view_box {padding: 12px 18px;}
	.view_box h4 {font-size: 16px;}
	.form_grid {padding: 20px;}
	.three_box input{width: 100% !important;margin-bottom: 15px;}
	.three_box input:last-child {width: 100% !important;margin-top: 0px;margin-bottom: 0px;}
	.four_box input, .four_box select {width: 100% !important;}
	.four_box input:nth-child(3){margin-bottom: 15px;}
	.form_title {margin-bottom: 20px;}
	.quality_content .doc_number {padding-left: 15px;padding-top: 8px;}
	.right_btnGroup {margin-top: 15px;}
	.right_btnGroup a:first-child {margin-right: 10px;}
	.inner_design p {margin: 20px 0px !important;}
	.product_head_grid h4 {font-size: 20px;}
	.see_product {max-width: 320px;margin: 30px auto 0px;}

	.support_min .services_icon {
		min-height: auto;
	}
	.product_items {
		margin-top: 15px;
	}
	.search_product .icons_content {
		margin: 35px -10px;
	}
	.icons_grid{
		height: auto;
	}
	.address_box ul li {
		margin-bottom: 15px;
	}
	.address_box ul li h4 {
		font-size: 20px;
	}
	.address_box ul li > a {
		font-size: 18px;
	}
	.address_box ul li h4 i {
		margin-right: 10px;
		font-size: 18px;
	}
	.address_info {
		padding-left: 32px;
	}
	.video_grid ul li {
		width: 50%;
	}

	.arrow_line {
		display: block;
	}
	.timeLine_tabs .nav {
		padding: 35px 0px;
		margin-top: 0px;
		display: block;
		border-bottom: none;
		border-left: 2px solid #fff;
		margin-left: 5px;
	}
	.arrow_line .prev_btn {
		left: -14px;
		transform: rotate(-90deg);
	}
	.arrow_line .next_btn {
		right: inherit;
		bottom: 0;
		top: -20px;
		left: -14px;
		transform: rotate(90deg);
	}
	.timeLine_tabs .nav li button {
		padding-bottom: 0px;
		padding-left: 20px;
	}
	.timeLine_tabs .nav li {
		padding: 10px 0px;
	}
	.timeLine_tabs .nav li button::after {
		left: -6px;
		right: inherit;
		bottom: inherit;
		margin: 0;
		top: 5px;
	}
	.timeLine_tabs {
		display: flex;
		align-items: center;
	}
	.timeLine_tabs .tab-content {
		margin: 0;
		padding-left: 25px;
	}
	.time_line_content h3{
		margin-bottom: 35px;
	}
	.brand_logo, .footer_logo a {
		max-width: 200px;
	}
	.form_grid form ul li {
		margin: 0px 0px 15px !important;
		padding: 0px 0px !important;
	}
	.form_grid form ul#gform_fields_1 li:nth-child(2), .form_grid form ul#gform_fields_1 li:nth-child(3),
	.form_grid form ul#gform_fields_1 li:nth-child(7), .form_grid form ul#gform_fields_1 li:nth-child(8){
		width: 100% !important;
		margin-bottom: 15px !important;
	}
	.form_grid form .gform_footer {
		margin: 5px 0px 0px;
	}
	.form_title {
		margin-left: 0px;
		margin-right: 0px;
	}
	.form_grid form ul li label, .form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(2) h3, 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(6) h3,
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(11) label{
		font-size: 16px;
	}
	.search_loaction .search_feilds{
		width: 100%;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(2), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(3), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(5) {
		width: 100%;
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span:nth-child(4) {
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(5) span {
		padding: 0px 0px !important;
		margin-bottom: 15px !important;
	}
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(7), 
	.form_grid #gform_wrapper_2 form .gform_body ul#gform_fields_2 li:nth-child(8) {
		width: 100%;
	}
	#gform_2 .gform_footer.top_label {
		margin: 5px 15px 0px 0px;
	}
	#gform_2 .gform_footer.top_label input{
		width: 100% !important;
	}
	.tab-content .news_img {
		height: auto;
	}
	.news_img img {
		height: auto;
	}
}
@media only screen and (max-width: 570px){
	#wpsl-search-wrap .search_loaction .search_feilds > div .wpsl-dropdown {
		width: 100% !important;
	}
	#wpsl-search-wrap .search_loaction .search_feilds > div label {
		display: none !important;
	}
	.search_page .bp_pagination ul li:first-child {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 484px){
	.header_right {width: auto;}
	.product_grid .product_list li {width: 50%;}
	.description_info ul li h4 {font-size: 20px;}
	.product_title h3 {
		font-size: 18px;
	}
	.Presenters_grid ul li {
		width: 50%;
	}
	.workshops_section h5 {
		font-size: 20px;
	}
	.traning_post_box ul li {
		width: 100%;
	}
	.user_profile_gallery ul li {
		width: 100%;
	}
	.product_items h5 {
		font-size: 18px;
	}


	#wpsl-result-list ul li {
		padding: 18px !important;
	}
	#wpsl-result-list ul li .wpsl-store-location {
		display: block;
	}
	.title-wpsl {
		margin-bottom: 20px;
	}
	#wpsl-stores, #wpsl-direction-details, #wpsl-gmap {
		height: 500px !important;
	}
	#gform_2 .gform_footer.top_label input{
		width: auto;
	}
	.search-wrapper.active .input-holder{
		width: 260px;
	}
	.btn_filter_group a {
		padding: 15px 10px;
		font-size: 16px;
	}
}
@media only screen and (max-width: 483px){
	.testimonal_silder h4{font-size: 22px;}
	#testimonal_silder .owl-stage-outer {padding: 0px;}
	.user_info {min-height: auto;}
	.scroll_content{height: auto;}
}
@media only screen and (max-width: 414px){
	.view_box {display: block;}
	.right_btnGroup a:first-child {margin-right: 0px;margin-bottom: 15px;}
	.button_grid {text-align: center;}

	.product_info_list .count_list li {
		width: 100%;
		margin: 2px 0px;
	}
	.product_proofile {
		min-height: 150px;
		max-height: 150px;
		height: 150px;
	}
	.video_grid ul li {
		width: 100%;
	}
	.brand_logo, .footer_logo a {
		max-width: 160px;
	}
	.address_box ul li {
		margin-bottom: 8px;
	}
	.address_box ul li h4 {
		font-size: 20px;
	}
	.address_box ul li > a {
		font-size: 16px;
	}
	.address_box ul li h4 i {
		margin-right: 5px;
		font-size: 16px;
	}
	.address_info {
		padding-left: 25px;
	}
	#wpsl-search-input {
		width: 100% !important;
	}
	.header_right {
		width: 100%;
	}
	.head_socialLinks {
		display: none;
	}
}
@media only screen and (max-width: 375px){
	.search-wrapper.active .input-holder{
		width: 225px;
	}
	.offcanvas-end{
		width: 300px;
	}
}