/* Header Css start */
header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
	right: 0;
	padding: 0px 0px 0px;
	-webkit-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
	background-color: #010b13;
}
.header.shrink {
	.head_bottom {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #010b13;
	}
	transition: 0.5s ease-out;
	box-shadow: 0px 0 5px #6f6f6f1a;
	.dropdown_menu {
		&::after {
			border-color: transparent transparent #010b13 transparent !important;
		}
	}
}
.head_top {
	.d-flex {
		justify-content: space-between;
		align-items: center;
	}
	background-color: #fff;
	padding: 5px 0px 3px;
}
.head_socialLinks {
	ul {
		display: flex;
		align-items: center;
		li {
			a {
				display: block;
				color: #8EC74C;
				font-size: 15px;
				padding: 0px 8px;
				margin-right: 10px;
				transition-duration: 0.4s;
			}
		}
	}
}
.menuLink {
	ul {
		li {
			a {
				span {
					i {
						font-size: 12px;
						margin-left: 4px;
					}
				}
			}
		}
	}
}
.header_right {
	width: 50%;
	>ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		>li {
			margin-left: 15px;
			position: relative;
			>a {
				color: #000;
				font-size: 14px;
				text-transform: uppercase;
			}
			&:nth-child(3) {
				a {
					width: 32px;
					height: 32px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #010b13;
					color: #fff !important;
					border-radius: 50%;
					font-size: 15px;
				}
			}
			&:nth-child(2) {
				width: 35px;
				height: 35px;
			}
			&:first-child {
				margin-left: 0px;
				width: 40px;
				height: 42px;
			}
		}
	}
}
.brand_logo {
	display: block;
	max-width: 285px;
}
.head_bottom {
	.navbar {
		padding: 0px;
	}
}
.butgurBtn {
	display: none;
}
.dropdown_menu {
	position: absolute;
	z-index: 555;
	display: none;
	background-color: #010b13;
	top: 77px;
	left: 0;
	border-top: 1px solid #eeeeee6b;
	&::after {
		content: "";
		position: absolute;
		top: -14px;
		left: 40px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 14px 9px;
		border-color: transparent transparent #fff transparent;
	}
}

/* Header Css End */
