.menuLink {
	width: 100%;
	>ul {
		display: flex;
		>li {
			&:nth-child(1) {
				.dropdown_menu {
					width: 380px;
					padding: 15px 20px;
					ul {
						column-count: 2;
					}
				}
			}
			&:nth-child(2) {
				.dropdown_menu {
					width: 410px;
					padding: 15px 20px;
					ul {
						column-count: 2;
					}
				}
			}
			&:nth-child(3) {
				.dropdown_menu {
					width: 315px;
					padding: 15px 20px;
					ul {
						column-count: 2;
					}
				}
			}
			&:nth-child(4) {
				.dropdown_menu {
					width: 215px;
					padding: 15px 20px;
				}
			}
			&:nth-child(5) {
				.dropdown_menu {
					width: 450px;
					padding: 15px 20px;
					left: inherit;
					right: 0;
					ul {
						column-count: 2;
					}
					&::after {
						left: inherit;
						right: 40px;
					}
				}
			}
			position: relative;
			>a {
				font-size: 18px;
				display: block;
				padding: 25px 0px;
				margin-left: 25px;
			}
		}
	}
	ul {
		li {
			a {
				color: #fff;
				transition-duration: 0.4s;
				text-transform: uppercase;
				&:hover {
					color: #8EC74C;
				}
			}
			&:first-child {
				a {
					margin: 0px;
				}
			}
		}
	}
}
.menu_grid {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dropdown_menu {
	ul {
		li {
			a {
				font-size: 14px;
				display: block;
				padding: 2px 5px;
				transition-duration: 0.4s;
			}
		}
	}
}
#mainSlider {
	.carousel-caption {
		padding: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 60px;
			font-weight: bold;
		}
	}
}
