.arrow_btn {
	display: flex;
	align-items: center;
	transition-duration: 0.4s;
	.linkText {
		color: #8EC74C;
		font-size: 18px;
		display: flex;
		transition-duration: 0.4s;
		align-items: center;
		font-weight: 600;
		i {
			margin-left: 12px;
			margin-top: 1px;
		}
	}
	&:hover {
		.linkText {
			color: #fff;
		}
	}
}
.earth_icon {
	margin-right: 15px;
	font-size: 20px;
	color: #fff;
}
.events_excerpt {
	.linkText {
		&:hover {
			color: #fff;
		}
	}
}
.gray_btn.border_gray {
	&:hover {
		background-color: #54544C;
		color: #fff;
	}
}
.arrow_line {
	position: relative;
	display: flex;
	span {
		position: absolute;
		background-color: #54544C;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		z-index: 555;
		font-size: 25px;
		color: #8EC74C;
		bottom: -22px;
	}
	.prev_btn {
		left: -10px;
	}
	.next_btn {
		right: -10px;
	}
}