/* Button Css start */

.green_btn {
	display: inline-block;
	background-color: #8EC74C;
	color: #fff !important;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	padding: 15px 45px;
	font-weight: 500;
	box-shadow: 0px 3px 6px #00000029;
	transition-duration: 0.4s;
	&:hover {
		color: #8EC74C !important;
		background-color: #fff;
	}
}
.gray_btn {
	display: inline-block;
	background-color: #54544C;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	padding: 15px 45px;
	font-weight: 500;
	box-shadow: 0px 3px 6px #00000029;
	transition-duration: 0.4s;
	&:hover {
		color: #8EC74C;
		background-color: #fff;
		font-weight: 600px;
	}
}
.btn_info {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	a {
		margin-top: 25px;
		min-width: 250px;
		text-align: center;
		height: 50px;
	}
}
.button-list-item {
	>a {
		.icon {
			path {
				fill: #fff;
			}
		}
	}
}
.button-list.menu {
	a {
		&:hover {
			.icon {
				path {
					fill: #000;
				}
			}
		}
	}
}
.d-sm-flex {
	.green_btn {
		margin: 0 5px;
	}
}
.btn_filter_group {
	display: flex;
}
/* Button Css End */