/** Footer Css Start**/
.black_logo {
	display: none;
}
.footer_top {
	background-color: #e2e2e2;
	padding: 25px 0px;
	.container {
		>.row {
			align-items: center;
		}
	}
}
.footer_logo {
	a {
		display: block;
		max-width: 285px;
	}
}
.footer_link {
	h4 {
		color: #010B13;
		font-size: 16px;
		text-transform: capitalize;
		margin-bottom: 5px;
		font-weight: bold;
	}
	ul {
		li {
			a {
				color: #010B13;
				font-size: 16px;
				display: inline-block;
			}
		}
	}
}
.footer_bottom {
	background-color: #010b13;
	padding: 5px 0px;
	.d-flex {
		align-items: center;
		justify-content: space-between;
		ul {
			display: flex;
		}
		ul.bottom_links {
			li {
				a {
					color: #8EC74C;
					font-size: 14px;
					padding: 0 14px;
					display: block;
					text-transform: uppercase;
				}
			}
		}
		ul.footer_social {
			li {
				a {
					color: #fff;
					display: block;
					margin-left: 20px;
					font-size: 16px;
				}
			}
		}
	}
	p {
		color: #8EC74C;
		font-size: 13px;
	}
}
/** Footer Css End**/